<script lang="ts" setup>
import { computed, PropType } from 'vue'
import { MESSAGE } from '@constants/types/message'
import { createNamespacedHelpers } from 'vuex-composition-helpers'
import { formatDate } from '@libs/dayjs'
import ReactionMessage from '@components/ReactionMessage.vue'
import { convertByteToMb } from '@helpers/converter'

// Vuex
const { useGetters: authGetters } = createNamespacedHelpers('auth')

// Getters
const { user } = authGetters(['user'])

// Define
const props = defineProps({
  message: {
    type: Object as PropType<MESSAGE>,
    required: true,
  },
  isShowTime: {
    type: Boolean,
    required: true,
  },
})

// Setup

// Methods
const handleGetFormatDate = (date: Date, format: string = 'HH:mm') => {
  return formatDate(date, format)
}
const isMyMessage = (message: MESSAGE) => {
  return message.sender.id === user.value.id
}
const handleOpenFile = (message: MESSAGE) => {
  window.open(message.file?.url, '_blank')
}

// Computed
const getFileData = computed(() => {
  const size = props.message.file?.size || 0
  return {
    name: props.message.file?.name,
    size: `${convertByteToMb(size)} MB`,
  }
})

// Watch

// OnMounted
</script>

<template>
  <div :class="{ message__file__my: isMyMessage(message) }" class="message__file">
    <div v-if="isShowTime" class="message__file__time">
      {{ handleGetFormatDate(message.createdAt, 'MMM D, YYYY h:mm A') }}
    </div>
    <div class="message__file__container">
      <div class="message__file__container__avatar">
        <img :alt="message.sender.lastName" :src="message.sender.profilePicture" />
      </div>
      <div class="message__file__container__content">
        <a-tooltip :title="handleGetFormatDate(message.createdAt)">
          <div class="message__file__container__content__message" @click="handleOpenFile(message)">
            <div class="message__file__container__content__message__icon">
              <img alt="file icon" src="@/assets/icons/file-document.svg" />
            </div>
            <div class="message__file__container__content__message__text">
              <div class="message__file__container__content__message__text__name">
                {{ getFileData.name }}
              </div>
              <div class="message__file__container__content__message__text__size">
                {{ getFileData.size }}
              </div>
            </div>
          </div>
        </a-tooltip>
      </div>
      <div class="message__file__container__button">
        <reaction-message :message-id="message.id" :reactions="message.messageStatuses">
          <a-button type="text">
            <template #icon>
              <img alt="face icon" src="@/assets/icons/smile.svg" />
            </template>
          </a-button>
        </reaction-message>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.message__file {
  @apply flex flex-col items-start mb-0.5;

  &__time {
    @apply text-xs text-gray-500 mb-1 w-full text-center;
  }

  + .FIRST {
    @apply mt-2;
  }

  + .SINGLE {
    @apply mt-2;
  }

  &__container {
    @apply flex items-end gap-2 relative;

    &__avatar {
      @apply w-10 h-10 rounded-full overflow-hidden;

      img {
        @apply w-full h-full object-cover;
      }
    }

    &__content {
      @apply flex flex-col w-max max-w-[400px];

      &__message {
        @apply flex w-full bg-gray-200 rounded-lg p-2 cursor-pointer;

        &__icon {
          @apply w-12 h-12 mr-2;

          img {
            @apply w-full h-full object-contain;
          }
        }

        &__text {
          @apply flex flex-col justify-center;

          &__name {
            @apply text-sm font-medium;
          }

          &__size {
            @apply text-xs text-gray-500;
          }
        }
      }
    }

    &__button {
      @apply w-6 h-6 self-center flex items-center justify-center opacity-0 transition
      duration-300 ease-linear h-full relative top-0;
    }
  }

  &__my {
    @apply items-end;

    .message__file__container {
      @apply flex-row-reverse;

      &__avatar {
        @apply mr-0;
      }

      &__content {
        &__message {
          @apply bg-blue-500 text-white;

          &__icon {
            img {
              filter: brightness(0) saturate(100%) invert(100%) sepia(100%) hue-rotate(180deg);
            }
          }

          &__text {
            max-width: calc(100% - 48px - 0.5rem);

            &__name {
              @apply text-white;

              display: -webkit-box;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-line-clamp: 1;
            }

            &__size {
              @apply text-white;
            }
          }
        }
      }
    }
  }

  &.FIRST {
    .message__file__container {
      &__avatar {
        @apply opacity-0;
      }
    }
  }

  &.MIDDLE {
    .message__file__container {
      &__avatar {
        @apply opacity-0;
      }
    }
  }

  &:hover {
    .message__file__container {
      &__button {
        @apply opacity-100;
      }
    }
  }
}
</style>
