<script lang="ts" setup>
import { PropType } from 'vue'
import { MESSAGE } from '@constants/types/message'
import { formatDate } from '@libs/dayjs'
import { createNamespacedHelpers } from 'vuex-composition-helpers'
import ReactionMessage from '@components/ReactionMessage.vue'

const { useGetters: authGetters } = createNamespacedHelpers('auth')

const { user } = authGetters(['user'])

defineProps({
  message: {
    type: Object as PropType<MESSAGE>,
    required: true,
  },
  isShowTime: {
    type: Boolean,
    required: true,
  },
})

const handleGetFormatDate = (date: Date, format: string = 'HH:mm') => {
  return formatDate(date, format)
}

const isMyMessage = (message: MESSAGE) => {
  return message.sender.id === user.value.id
}
</script>

<template>
  <div :class="{ message__image__my: isMyMessage(message) }" class="message__image">
    <div v-if="isShowTime" class="message__image__time">
      {{ handleGetFormatDate(message.createdAt, 'MMM D, YYYY h:mm A') }}
    </div>
    <div class="message__image__container">
      <div class="message__image__container__avatar">
        <img :alt="message.sender.lastName" :src="message.sender.profilePicture" />
      </div>
      <div class="message__image__container__content">
        <a-tooltip :title="handleGetFormatDate(message.createdAt)">
          <div class="message__image__container__content__message">
            <a-image :src="message.file.url" class="message__image__container__content__message__image" />
          </div>
        </a-tooltip>
      </div>
      <div class="message__image__container__button">
        <a-tooltip color="gray" title="Reaction message">
          <reaction-message :message-id="message.id" :reactions="message.messageStatuses">
            <a-button type="text">
              <template #icon>
                <img alt="face icon" src="@/assets/icons/smile.svg" />
              </template>
            </a-button>
          </reaction-message>
        </a-tooltip>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.message__image {
  @apply flex flex-col items-start mb-0.5;

  &__time {
    @apply text-xs text-gray-500 mb-1 w-full text-center;
  }

  + .FIRST {
    @apply mt-2;
  }

  + .SINGLE {
    @apply mt-2;
  }

  &__container {
    @apply flex items-end gap-2 relative;

    &__avatar {
      @apply w-10 h-10 rounded-full overflow-hidden;

      img {
        @apply w-full h-full object-cover;
      }
    }

    &__content {
      @apply flex flex-col w-max max-w-[400px];

      &__message {
        @apply flex flex-col w-full bg-gray-200 rounded-lg;

        &__image {
          @apply w-full h-auto rounded-lg;
        }

        .ant-image-mask {
          @apply rounded-lg;
        }
      }
    }

    &__button {
      @apply w-6 h-6 self-center flex items-center justify-center opacity-0 transition
      duration-300 ease-linear h-full relative top-0;
    }
  }

  &__my {
    @apply items-end;

    .message__image__container {
      @apply flex-row-reverse;

      &__avatar {
        @apply mr-0;
      }
    }
  }

  &.FIRST {
    .message__image__container {
      &__avatar {
        @apply opacity-0;
      }
    }
  }

  &.MIDDLE {
    .message__image__container {
      &__avatar {
        @apply opacity-0;
      }
    }
  }

  &:hover {
    .message__image__container {
      &__button {
        @apply opacity-100;
      }
    }
  }
}
</style>
