<script lang="ts" setup>
import { PropType } from 'vue'
import { MESSAGE } from '@constants/types/message'
import { createNamespacedHelpers } from 'vuex-composition-helpers'
import { formatDate } from '@libs/dayjs'
import PreviewUrl from '@components/PreviewUrl.vue'
import ReactionMessage from '@components/ReactionMessage.vue'

const { useGetters: authGetters } = createNamespacedHelpers('auth')

const { user } = authGetters(['user'])

defineProps({
  message: {
    type: Object as PropType<MESSAGE>,
    required: true,
  },
  isShowTime: {
    type: Boolean,
    required: true,
  },
})

const emit = defineEmits(['reply'])

const handleGetFormatDate = (date: Date, format: string = 'HH:mm') => {
  return formatDate(date, format)
}

const isMyMessage = (message: MESSAGE) => {
  return message.sender.id === user.value.id
}

const handleReplyMessage = (message: MESSAGE) => {
  emit('reply', message.id)
}
</script>

<template>
  <div :class="{ message__normal__my: isMyMessage(message) }" class="message__normal">
    <div v-if="isShowTime" class="message__normal__time">
      {{ handleGetFormatDate(message.createdAt, 'MMM D, YYYY h:mm A') }}
    </div>
    <div class="message__normal__container">
      <div v-if="!isMyMessage(message)" class="message__normal__container__avatar">
        <img :alt="message.sender.lastName" :src="message.sender.profilePicture" />
      </div>
      <div class="message__normal__container__content">
        <a-tooltip :title="handleGetFormatDate(message.createdAt)">
          <div class="message__normal__container__content__message">
            <div class="message__normal__container__content__message__text">{{ message.content }}</div>
            <div v-if="message.replyMessage" class="message__normal__container__content__message__reply">
              <div class="message__normal__container__content__message__reply__content">
                <div class="message__normal__container__content__message__reply__content__sender">
                  {{ message.replyMessage.sender.lastName }}
                  said:
                </div>
                <div class="message__normal__container__content__message__reply__content__text">"{{ message.replyMessage.content }}"</div>
              </div>
            </div>
          </div>
        </a-tooltip>
      </div>
      <div class="message__normal__container__button">
        <reaction-message :message-id="message.id" :reactions="message.messageStatuses">
          <a-button type="text">
            <template #icon>
              <img alt="face icon" src="@/assets/icons/smile.svg" />
            </template>
          </a-button>
        </reaction-message>
      </div>
      <div class="message__normal__container__button">
        <a-button type="text" @click="handleReplyMessage(message)">
          <template #icon>
            <img alt="reply icon" src="@/assets/icons/reply.svg" />
          </template>
        </a-button>
      </div>
    </div>
    <div v-if="message.urlPreview" class="message__normal__url">
      <preview-url :data="message.urlPreview" />
    </div>
  </div>
</template>

<style lang="scss">
.message__normal {
  @apply flex flex-col items-start mb-0.5;

  &__time {
    @apply text-xs text-gray-500 mb-1 w-full text-center;
  }

  + .FIRST {
    @apply mt-2;
  }

  + .SINGLE {
    @apply mt-2;
  }

  &__container {
    @apply flex items-end gap-2 relative;

    &__avatar {
      @apply w-10 h-10 rounded-full overflow-hidden;

      img {
        @apply w-full h-full object-cover;
      }
    }

    &__content {
      @apply flex flex-col w-max max-w-[400px];

      &__message {
        @apply flex flex-col w-full bg-gray-200 rounded-lg p-2;

        &__text {
          @apply text-black;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 4;
        }

        &__reply {
          @apply flex items-center mt-2 p-2 bg-gray-300 rounded-lg;

          &__content {
            @apply flex items-center gap-1 w-full;

            &__text {
              @apply text-black overflow-hidden whitespace-nowrap overflow-ellipsis max-w-[260px];
            }

            &__sender {
              @apply text-sm text-black font-bold;
            }
          }
        }
      }
    }

    &__button {
      @apply w-6 h-6 self-center flex items-center justify-center opacity-0 transition
      duration-300 ease-linear h-full relative top-0;
    }
  }

  &__url {
    @apply ml-12;
  }

  &__my {
    @apply items-end;

    .message__normal__container {
      @apply flex-row-reverse;

      &__avatar {
        @apply mr-0;
      }

      &__content {
        &__message {
          @apply bg-blue-500 text-white;

          &__text {
            @apply text-white;
          }

          &__reply {
            @apply bg-blue-400;

            &__content {
              &__text {
                @apply text-white;
              }

              &__sender {
                @apply text-white;
              }
            }
          }
        }
      }
    }

    .message__normal__url {
      @apply ml-0 mr-12;
    }
  }

  &.FIRST {
    .message__normal__container {
      &__avatar {
        @apply opacity-0;
      }
    }
  }

  &.MIDDLE {
    .message__normal__container {
      &__avatar {
        @apply opacity-0;
      }
    }
  }

  &:hover {
    .message__normal__container {
      &__button {
        @apply opacity-100;
      }
    }
  }
}
</style>
