<script lang="ts" setup>
import { PropType } from 'vue'
import { MESSAGE } from '@constants/types/message'

defineProps({
  message: {
    type: Object as PropType<MESSAGE>,
    required: true,
  },
})
</script>

<template>
  <div class="message__notification">
    <div class="content">{{ message.content }}</div>
  </div>
</template>

<style lang="scss" scoped>
.message__notification {
  @apply flex items-center justify-center w-full h-10;
  .content {
    @apply text-gray-500;
  }
}
</style>
