<script lang="ts" setup>
import { SearchOutlined } from '@ant-design/icons-vue'
import { reactive, ref, watch } from 'vue'
import { USER } from '@constants/types/user'
import { createNamespacedHelpers } from 'vuex-composition-helpers'
import { GET_USERS_INVITE_REQUEST, HANDLE_ROOM_ACTION } from '@constants/types/room'
import UserInvite from '@components/add-member/UserInvite.vue'
import UserSelected from '@components/add-member/UserSelected.vue'
import { HANDLE_ROOM_ACTION_ENUM } from '@constants/enums/room'
import { MODALS_NAME_ENUM } from '@constants/enums/modals'

const { useGetters: roomGetters, useActions: roomActions } = createNamespacedHelpers('room')
const { useGetters: modalGetters, useActions: modalActions } = createNamespacedHelpers('modal')

// Define
const emit = defineEmits(['on-close'])

// Getters vuex
const { roomDetail, usersInvite } = roomGetters(['roomDetail', 'usersInvite'])
const { addMemberModal } = modalGetters(['addMemberModal'])

// Actions vuex
const { getUsersInvite, handleRoomAction } = roomActions(['getUsersInvite', 'handleRoomAction'])
const { closeModal } = modalActions(['closeModal'])

// Setup
const search = ref<string>('')
const debounce = ref<any>(null)
const loading = ref<boolean>(true)
const selected = reactive<Array<USER>>([])

// Methods
const handleFetchData = () => {
  const { roomKey } = roomDetail.value
  const params: GET_USERS_INVITE_REQUEST = {
    key: roomKey,
    search: search.value,
  }
  getUsersInvite(params).then(() => {
    loading.value = false
  })
}
const debounceSearch = () => {
  clearTimeout(debounce.value)
  loading.value = true
  debounce.value = setTimeout(() => {
    handleFetchData()
  }, 800)
}
const handleToggleSelect = (user: USER) => {
  const index = selected.findIndex((item) => item.id === user.id)
  if (index === -1) {
    selected.push(user)
  } else {
    selected.splice(index, 1)
  }
}
const handleResetData = () => {
  search.value = ''
  selected.splice(0, selected.length)
}
const handleClose = (isReload: Boolean = false) => {
  handleResetData()
  closeModal(MODALS_NAME_ENUM.ADD_MEMBER_MODAL)
  emit('on-close', isReload)
}
const handleAddMember = () => {
  const params: HANDLE_ROOM_ACTION = {
    action: HANDLE_ROOM_ACTION_ENUM.add,
    key: roomDetail.value.roomKey,
    usersId: selected.map((item) => item.id),
  }
  handleRoomAction(params).then(() => {
    handleClose(true)
  })
}
// Computed

// Watch
watch([addMemberModal], () => {
  if (addMemberModal.value) {
    handleFetchData()
  }
})

// OnMounted
</script>

<template>
  <a-modal
    :footer="false"
    :visible="addMemberModal"
    centered
    class="add--member__modal"
    destroy-on-close
    title="Add member"
    width="560px"
    @cancel="handleClose(false)"
  >
    <a-spin :spinning="loading">
      <a-input v-model:value="search" class="add--member__modal__search" placeholder="Search..." @change="debounceSearch">
        <template #prefix>
          <search-outlined />
        </template>
      </a-input>
      <div v-if="selected.length === 0" class="add--member__modal__selected--empty">
        <div class="add--member__modal__selected--empty__text">No member selected</div>
      </div>
      <perfect-scrollbar v-else class="add--member__modal__selected">
        <user-selected v-for="user in selected" :key="user.id" :user="user" @on-deselect="handleToggleSelect" />
      </perfect-scrollbar>
      <div class="add--member__modal__label">Suggests:</div>
      <perfect-scrollbar class="add--member__modal__list">
        <user-invite v-for="user in usersInvite" :key="user.id" :user="user" @on-select="handleToggleSelect" />
      </perfect-scrollbar>
      <div class="add--member__modal__action">
        <a-button type="primary" class="add--member__modal__action__button" :disabled="selected.length === 0" @click="handleAddMember">
          Add
        </a-button>
      </div>
    </a-spin>
  </a-modal>
</template>

<style lang="scss">
.add--member__modal {
  &__search {
    @apply mb-2 rounded-lg z-50 px-4 py-2;
    .ant-input {
      @apply text-sm bg-transparent;
    }
  }

  &__selected--empty {
    @apply w-full h-20 flex flex-col items-center justify-center;
    &__text {
      @apply text-sm font-semibold text-gray-400;
    }
  }

  &__selected {
    @apply h-20 max-w-full flex flex-row items-center gap-2;
  }

  &__label {
    @apply text-sm font-semibold mt-2 mb-2;
  }

  &__list {
    @apply w-full h-auto flex flex-col gap-2;
    height: 160px;
  }

  &__action {
    @apply w-full flex flex-row justify-end mt-2;
    &__button {
      @apply text-sm;
    }
  }
}
</style>
