<script lang="ts" setup>
import { Modal } from 'ant-design-vue'
import { PropType } from 'vue' // Define

// Define
const props = defineProps({
  title: {
    type: String,
    default: '',
    required: true,
  },
  description: {
    type: String,
    default: '',
    required: true,
  },
  type: {
    type: String as PropType<'success' | 'info' | 'warning' | 'error'>,
    default: 'warning',
    required: false,
  },
})
const emit = defineEmits(['on-confirm'])
// Setup

// Methods
const handleClick = () => {
  Modal.confirm({
    content: props.description,
    title: props.title,
    onOk() {
      emit('on-confirm')
    },
  }).update({
    type: props.type,
  })
}

// Computed

// Watch

// OnMounted
</script>

<template>
  <div class="modal__confirm" @click="handleClick">
    <slot />
  </div>
</template>

<style scoped></style>
