<script lang="ts" setup>
import { Form } from 'ant-design-vue'
import { computed, reactive, ref, watch } from 'vue'
import { CHECK_ROOM_KEY_REQUEST, CREATE_ROOM_REQUEST } from '@constants/types/room'
import { CREATE_ROOM_RULES, DEFAULT_CREATE_ROOM_REQUEST } from '@constants/room'
import { GET_USER_REQUEST, USER } from '@constants/types/user'
import UploadPhoto from '@components/UploadPhoto.vue'
import { createNamespacedHelpers } from 'vuex-composition-helpers'
import { USER_RELATIONSHIP_STATUS } from '@constants/enums/relationship'
import { ROOM_KEY_VALIDITY } from '@constants/enums/room'
import { FILE_DATA } from '@constants/types/file'
import { MODALS_NAME_ENUM } from '@constants/enums/modals'

const { useActions: userActions, useGetters: userGetters } = createNamespacedHelpers('user')
const { useActions: sidebarActions } = createNamespacedHelpers('sidebar')
const { useActions: roomActions, useGetters: roomGetters } = createNamespacedHelpers('room')
const { useActions: modalActions, useGetters: modalGetters } = createNamespacedHelpers('modal')

// Define
const emit = defineEmits(['on-close'])

// Getters vuex
const { loading, friends } = userGetters(['loading', 'friends'])
const { roomKeyValid, status: roomStatus } = roomGetters(['roomKeyValid', 'status'])
const { createRoomModal } = modalGetters(['createRoomModal'])

// Actions vuex
const { getUsers } = userActions(['getUsers'])
const { checkRoomKey, createRoom } = roomActions(['checkRoomKey', 'createRoom'])
const { getChatList } = sidebarActions(['getChatList'])
const { closeModal } = modalActions(['closeModal'])

// Setup
const useForm = Form.useForm
const formData = reactive<CREATE_ROOM_REQUEST>(DEFAULT_CREATE_ROOM_REQUEST)
const { validate } = useForm(formData, CREATE_ROOM_RULES)
const isDisabled = ref<boolean>(true)
const keyValid = ref<ROOM_KEY_VALIDITY>(ROOM_KEY_VALIDITY.unknown)
const debounce = ref<any>(null)
const keyLoading = ref<boolean>(false)

// Methods
const handleSubmit = () => {
  createRoom(formData).then(() => {
    if (roomStatus.value) {
      handleReset()
      getChatList()
      closeModal(MODALS_NAME_ENUM.CREATE_ROOM_MODAL)
      emit('on-close')
    }
  })
}
const handleReset = () => {
  formData.name = ''
  formData.photo = ''
  formData.key = ''
  formData.members = []
  keyValid.value = ROOM_KEY_VALIDITY.unknown
}

const handleFetchData = () => {
  const params: GET_USER_REQUEST = {
    key: '',
    relationshipStatus: USER_RELATIONSHIP_STATUS.friend,
  }
  getUsers(params)
}

const handleChange = () => {
  validate()
    .then(() => {
      isDisabled.value = false
    })
    .catch(() => {
      isDisabled.value = true
    })
}

const handleCheckKey = () => {
  const request: CHECK_ROOM_KEY_REQUEST = {
    key: formData.key,
  }
  checkRoomKey(request).then(() => {
    keyLoading.value = false
    if (roomKeyValid.value) {
      keyValid.value = ROOM_KEY_VALIDITY.valid
    } else {
      keyValid.value = ROOM_KEY_VALIDITY.invalid
    }
  })
}
const handleChangeKey = () => {
  keyValid.value = ROOM_KEY_VALIDITY.unknown
}
const handleClose = () => {
  handleReset()
  closeModal(MODALS_NAME_ENUM.CREATE_ROOM_MODAL)
  emit('on-close')
}

const handleChangePhoto = (data: FILE_DATA) => {
  formData.photo = data.filePath
}

const getMembersOptions = computed(() => {
  return friends.value.map((friend: USER) => {
    return {
      label: friend.firstName + ' ' + friend.lastName,
      value: friend.id,
    }
  })
})

const debounceSearch = () => {
  clearTimeout(debounce.value)
  keyLoading.value = true
  debounce.value = setTimeout(() => {
    handleCheckKey()
  }, 800)
}

// Generate key from room name
// Example: "Võ Kim Trí" to "vo-kim-tri"
const generateKey = () => {
  formData.key = formData.name
    .toLowerCase()
    .normalize('NFD')
    .replace(/[\u0300-\u036f]/g, '')
    .replace(/đ/g, 'd')
    .replace(/[^a-zA-Z0-9 ]/g, '')
    .replace(/\s+/g, '-')

  debounceSearch()
}

// Computed

const isButtonDisabled = computed(() => {
  return isDisabled.value || formData.members.length === 0 || keyValid.value !== ROOM_KEY_VALIDITY.valid
})
const keyValidateStatus = computed(() => {
  if (keyValid.value === ROOM_KEY_VALIDITY.valid) {
    return 'success'
  } else if (keyValid.value === ROOM_KEY_VALIDITY.invalid) {
    return 'error'
  } else {
    return ''
  }
})

// Watch
watch([createRoomModal], () => {
  if (createRoomModal.value) {
    handleFetchData()
  }
})
</script>

<template>
  <a-modal
    title="Create Room"
    class="create-room-modal"
    width="760px"
    destroyOnClose
    centered
    :footer="false"
    :visible="createRoomModal"
    @cancel="handleClose"
    @ok="handleSubmit"
  >
    <a-form
      layout="vertical"
      class="create-room-form"
      :rules="CREATE_ROOM_RULES"
      :model="formData"
      @submit.prevent="handleSubmit"
      @change="handleChange"
    >
      <div class="grid grid-cols-12 gap-2">
        <div class="col-span-5">
          <a-form-item label="Room Name" name="name">
            <a-input class="room-name" v-model:value="formData.name" placeholder="Room Name" @input="generateKey" />
          </a-form-item>
          <a-form-item label="Key" name="key" :has-feedback="true" :validate-status="keyValidateStatus">
            <a-spin :spinning="keyLoading">
              <a-input
                :aria-readonly="true"
                v-model:value="formData.key"
                placeholder="Key (Check it, please...)"
                @change="handleChangeKey"
                @input="debounceSearch"
              />
            </a-spin>
          </a-form-item>
          <a-form-item label="Image" name="photo">
            <upload-photo @on-change-photo="handleChangePhoto" />
          </a-form-item>
        </div>
        <div class="h-full text-center col-span-2">
          <a-divider type="vertical" style="height: 100%; border-color: #e5e7eb" dashed />
        </div>
        <div class="col-span-5">
          <a-spin :spinning="loading">
            <a-form-item label="Members" name="members">
              <a-checkbox-group v-model:value="formData.members" name="members" :options="getMembersOptions" />
            </a-form-item>
          </a-spin>
        </div>
      </div>
      <div class="flex justify-end mt-4">
        <a-button class="create-room-button" size="large" type="primary" @click="handleSubmit" :disabled="isButtonDisabled">Create </a-button>
      </div>
    </a-form>
  </a-modal>
</template>

<style lang="scss">
.create-room-modal {
  .ant-form-item {
    .ant-form-item-label {
      @apply text-gray-500 font-semibold;
    }
  }

  .ant-form-item-control-input {
    .ant-form-item-control-input-content {
      input {
        @apply rounded-md border border-gray-300 px-4 py-2;
      }

      .ant-input-group-addon {
        @apply h-full;
        .ant-btn {
          @apply rounded-r-md border border-gray-300 border-l-0 h-[40px];
        }
      }
    }

    .ant-form-item-children-icon {
      @apply flex items-center justify-center;
    }
  }

  .create-room-button {
    @apply rounded-md font-semibold;
  }
}
</style>
