<script lang="ts" setup>
import { ref, watch } from 'vue'
import { createNamespacedHelpers } from 'vuex-composition-helpers'
import { USER_RELATIONSHIP_STATUS } from '@constants/enums/relationship'
import RelationshipTab from '@components/RelationshipTab.vue'
import { GET_USER_REQUEST } from '@constants/types/user'
import { MODALS_NAME_ENUM } from '@constants/enums/modals'

const { useActions: userActions, useGetters: userGetters } = createNamespacedHelpers('user')
const { useActions: modalActions, useGetters: modalGetters } = createNamespacedHelpers('modal')

// Define
const emit = defineEmits(['on-close'])

// Getters vuex
const { loading } = userGetters(['loading'])
const { relationshipManagementModal } = modalGetters(['relationshipManagementModal'])

// Actions vuex
const { getUsers } = userActions(['getUsers'])
const { closeModal } = modalActions(['closeModal'])

// Setup
const activeKey = ref<USER_RELATIONSHIP_STATUS>(USER_RELATIONSHIP_STATUS.friend)

// Methods
const handleClose = (isReload: Boolean = false) => {
  closeModal(MODALS_NAME_ENUM.RELATIONSHIP_MANAGEMENT_MODAL)
  emit('on-close', isReload)
}
const handleFetchData = () => {
  const params: GET_USER_REQUEST = {
    key: '',
    relationshipStatus: activeKey.value,
  }
  getUsers(params)
}

// Computed

// Watch
watch(activeKey, () => {
  handleFetchData()
})
watch([relationshipManagementModal], () => {
  if (relationshipManagementModal.value) {
    handleFetchData()
  }
})
</script>

<template>
  <a-modal
    class="relation-management-modal"
    width="760px"
    destroy-on-close
    centered
    :visible="relationshipManagementModal"
    :footer="null"
    @cancel="handleClose"
    @open="handleFetchData"
  >
    <a-tabs v-model:activeKey="activeKey" @change="" destroy-inactive-tab-pane>
      <a-tab-pane :key="USER_RELATIONSHIP_STATUS.friend">
        <template #tab> All Friend</template>
        <relationship-tab :relationship-status="USER_RELATIONSHIP_STATUS.friend" />
      </a-tab-pane>
      <a-tab-pane :key="USER_RELATIONSHIP_STATUS.none">
        <template #tab> Search</template>
        <relationship-tab :relationship-status="USER_RELATIONSHIP_STATUS.none" />
      </a-tab-pane>
      <a-tab-pane :key="USER_RELATIONSHIP_STATUS.sent_request">
        <template #tab> Request</template>
        <relationship-tab :relationship-status="USER_RELATIONSHIP_STATUS.sent_request" />
      </a-tab-pane>
      <a-tab-pane :key="USER_RELATIONSHIP_STATUS.received_request">
        <template #tab> Received</template>
        <relationship-tab :relationship-status="USER_RELATIONSHIP_STATUS.received_request" />
      </a-tab-pane>
    </a-tabs>
  </a-modal>
</template>

<style lang="scss">
.relation-management-modal {
  .ant-tabs {
    .ant-tabs-nav {
      .ant-tabs-tab {
        .ant-tabs-tab-btn {
          @apply text-base;
          font-weight: 500;

          &.ant-tabs-tab-active {
            font-weight: 500;
          }
        }
      }
    }
  }
}
</style>
