<script lang="ts" setup>
import { ref, watch } from 'vue'
import { createNamespacedHelpers } from 'vuex-composition-helpers'
import { MODALS_NAME_ENUM } from '@constants/enums/modals'
import { GET_USER_AND_ROOM_STATUS_ENUM } from '@constants/enums/userAndRoom'
import RoomManagementTab from '@components/RoomManagementTab.vue'
import { GET_ROOMS_REQUEST } from '@constants/types/room'

const { useActions: modalActions, useGetters: modalGetters } = createNamespacedHelpers('modal')
const { useActions: roomActions, useGetters: roomGetters } = createNamespacedHelpers('room')

// Define
const emit = defineEmits(['on-close'])

// Getters vuex
const { roomManagementModal } = modalGetters(['roomManagementModal'])
const { rooms, loading } = roomGetters(['rooms', 'loading'])

// Actions vuex
const { closeModal } = modalActions(['closeModal'])
const { getRooms } = roomActions(['getRooms'])

// Setup
const activeKey = ref<GET_USER_AND_ROOM_STATUS_ENUM>(GET_USER_AND_ROOM_STATUS_ENUM.invited)

// Methods
const handleFetchData = async () => {
  const params: GET_ROOMS_REQUEST = {
    search: '',
    status: activeKey.value,
  }
  getRooms(params)
}
const handleClose = (isReload: Boolean = false) => {
  closeModal(MODALS_NAME_ENUM.ROOM_MANAGEMENT_MODAL)
  emit('on-close', isReload)
}
// Computed

// Watch
watch([roomManagementModal], () => {
  if (roomManagementModal.value) {
    handleFetchData()
  }
})
watch(activeKey, () => {
  handleFetchData()
})
// OnMounted
</script>

<template>
  <a-modal
    :footer="null"
    :visible="roomManagementModal"
    centered
    class="room--management__modal"
    destroy-on-close
    title="Room Management"
    width="760px"
    @cancel="handleClose(false)"
  >
    <a-tabs v-model:activeKey="activeKey" destroy-inactive-tab-pane @change="">
      <a-tab-pane :key="GET_USER_AND_ROOM_STATUS_ENUM.invited">
        <template #tab> Invited</template>
        <room-management-tab :status="GET_USER_AND_ROOM_STATUS_ENUM.invited" />
      </a-tab-pane>
      <a-tab-pane :key="GET_USER_AND_ROOM_STATUS_ENUM.owner">
        <template #tab> Owned</template>
        <room-management-tab :status="GET_USER_AND_ROOM_STATUS_ENUM.owner" />
      </a-tab-pane>
      <a-tab-pane :key="GET_USER_AND_ROOM_STATUS_ENUM.joined">
        <template #tab> Joined</template>
        <room-management-tab :status="GET_USER_AND_ROOM_STATUS_ENUM.joined" />
      </a-tab-pane>
    </a-tabs>
  </a-modal>
</template>

<style lang="scss">
.room--management__modal {
  .ant-tabs {
    .ant-tabs-nav {
      .ant-tabs-tab {
        .ant-tabs-tab-btn {
          @apply text-base;
          font-weight: 500;

          &.ant-tabs-tab-active {
            font-weight: 500;
          }
        }
      }
    }
  }
}
</style>
