<script lang="ts" setup>
import { createNamespacedHelpers } from 'vuex-composition-helpers'
import { computed } from 'vue'
import { UserOutlined } from '@ant-design/icons-vue'
import router from '@/router'
import RelationManagementModal from '@components/modals/RelationManagementModal.vue'
import CreateRoomModal from '@components/modals/CreateRoomModal.vue'
import ChatSidebarMenu from '@components/ChatSidebarMenu.vue'
import RoomManagementModal from '@components/modals/RoomManagementModal.vue'
import { GET_CHAT_LIST_REQUEST } from '@constants/types/message'
import { MODALS_NAME_ENUM } from '@constants/enums/modals'

const { useGetters: authGetters, useActions: authActions } = createNamespacedHelpers('auth')
const { useActions: sidebarActions, useGetters: sidebarGetters } = createNamespacedHelpers('sidebar')
const { useActions: modalActions, useGetters: modalGetters } = createNamespacedHelpers('modal')

// Getters vuex
const { user } = authGetters(['user'])
const { loading } = sidebarGetters(['loading'])
const { relationshipManagement, createRoom, roomManagement } = modalGetters(['relationshipManagement', 'createRoom', 'roomManagement'])

// Actions vuex
const { logout } = authActions(['logout'])
const { getChatList } = sidebarActions(['getChatList'])
const { openModal, closeModal } = modalActions(['openModal', 'closeModal'])

// Setup

// Computed
const getUserData = computed(() => {
  {
    const { firstName, lastName, profilePicture } = user.value
    const fullName = `${firstName} ${lastName}`
    return { fullName, profilePicture }
  }
})

// Methods
const handleOpenModal = (modalName: MODALS_NAME_ENUM) => {
  openModal(modalName)
}
const handleCloseModal = (isReload: Boolean = false) => {
  if (isReload) {
    const params: GET_CHAT_LIST_REQUEST = {
      key: '',
    }
    getChatList(params)
  }
}

const handleClick = (key: string) => {
  if (key === 'logout') {
    logout().then(() => {
      router.push({ name: 'Login' })
    })
  }
}
</script>

<template>
  <div id="sidebar">
    <div class="head">
      <a-dropdown :trigger="['click']">
        <div class="auth-info">
          <a-avatar class="image" size="large">
            <template #icon>
              <UserOutlined v-if="!getUserData.profilePicture" />
              <img v-else :src="getUserData.profilePicture" alt="profile picture" />
            </template>
          </a-avatar>
          <div class="name">
            {{ getUserData.fullName }}
          </div>
        </div>
        <template #overlay>
          <a-menu>
            <a-menu-item key="0">
              <div class="flex justify-items-start items-center py-1">
                <img alt="logout" class="mr-2" src="@assets/icons/tool.svg" />
                Setting
              </div>
            </a-menu-item>
            <a-menu-item key="1">
              <div class="flex justify-items-start items-center py-1" @click="handleOpenModal(MODALS_NAME_ENUM.ROOM_MANAGEMENT_MODAL)">
                <img alt="grid" class="mr-2" src="@assets/icons/grid.svg" />
                Room Management
              </div>
            </a-menu-item>
            <a-menu-item key="2">
              <div class="flex justify-items-start items-center py-1" @click="handleOpenModal(MODALS_NAME_ENUM.RELATIONSHIP_MANAGEMENT_MODAL)">
                <img alt="logout" class="mr-2" src="@assets/icons/users.svg" />
                Relation Management
              </div>
            </a-menu-item>
            <a-menu-divider />
            <a-menu-item key="3">
              <div class="flex justify-items-start items-center py-1" @click="handleClick('logout')">
                <img alt="logout" class="mr-2" src="@assets/icons/logout.svg" />
                Log out
              </div>
            </a-menu-item>
          </a-menu>
        </template>
      </a-dropdown>
      <div class="action">
        <a-button shape="circle" type="text" @click="handleOpenModal(MODALS_NAME_ENUM.CREATE_ROOM_MODAL)">
          <template #icon>
            <img alt="accounts icon" class="img" src="@assets/icons/account-multiple-plus.svg" />
          </template>
        </a-button>
      </div>
    </div>
    <div class="sidebar-content">
      <chat-sidebar-menu />
    </div>
    <relation-management-modal @on-close="handleCloseModal()" />
    <create-room-modal @on-close="handleCloseModal()" />
    <room-management-modal @on-close="handleCloseModal()" />
  </div>
</template>

<style lang="scss">
#sidebar {
  @apply h-screen bg-white border-r-2 transition-all duration-300 ease-in-out z-50 p-3;

  .head {
    @apply flex items-center justify-between;
    .auth-info {
      @apply flex items-center justify-start cursor-pointer;

      .image {
        @apply flex justify-center items-center;
      }

      .name {
        @apply text-gray-700 font-semibold ml-2;
      }
    }

    .ant-dropdown-menu {
      .ant-dropdown-menu-item {
      }
    }
  }

  .action {
    @apply flex justify-center items-center;

    .ant-btn {
      @apply flex justify-center items-center;
    }

    .img {
      @apply w-6 h-6;
    }
  }

  .sidebar-content {
    @apply flex-1 overflow-y-auto py-4;
    height: calc(100% - 80px);
  }

  &.large {
    width: 360px;
  }

  &.small {
    width: 80px;

    .head {
      @apply justify-center flex-col gap-2;
      .name {
        display: none;
      }

      .create-room {
        display: none;
      }
    }

    .sidebar-content {
      height: calc(100% - 120px);
    }
  }
}
</style>
