<script lang="ts" setup>
import { createNamespacedHelpers } from 'vuex-composition-helpers'
import { LANGUAGE } from '@constants/enums/store'

const { useActions, useGetters } = createNamespacedHelpers('app')
const { setLanguage } = useActions(['setLanguage'])
const { language } = useGetters(['language'])

const languages = [
  { label: 'language.en', value: LANGUAGE.EN },
  { label: 'language.vi', value: LANGUAGE.VI },
]
const isActivated = (value: string) => language.value === value
</script>

<template>
  <footer class="footer">
    <div class="wrapper">
      <div class="company">
        <img src="@assets/icons/logo.svg" class="logo" alt="Logo" />
        <span class="name"> Dev Social </span>
      </div>
      <ul class="menu">
        <li class="item" v-for="item in languages">
          <a-button class="item-link" :class="{ active: isActivated(item.value) }" @click="setLanguage(item.value)" :key="item.value" type="link">
            {{ $t(item.label) }}
          </a-button>
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">
      {{ $t('footer.copyRight') }}
    </span>
  </footer>
</template>

<style lang="scss">
.footer {
  @apply p-4 bg-white shadow md:px-6 md:py-8 dark:bg-gray-900;

  .wrapper {
    @apply sm:flex sm:items-center sm:justify-between;

    .company {
      @apply flex items-center mb-4 sm:mb-0;

      .logo {
        @apply h-8 mr-3;
      }

      .name {
        @apply self-center text-2xl font-semibold whitespace-nowrap dark:text-white;
      }
    }

    .menu {
      @apply flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400;

      .item {
        &:not(:last-child) {
          .item-link {
            @apply mr-4 hover:underline md:mr-6;
          }
        }

        &:last-child {
          .item-link {
            @apply mr-0;
          }
        }

        .item-link {
          &.active {
            @apply text-gray-900 dark:text-white;
          }
        }
      }
    }
  }
}
</style>
