<script lang="ts" setup>
import { ref, watch } from 'vue'
import { MESSAGE_TYPE_ENUM, MESSAGE_VARIANT_ENUM } from '@constants/enums/message'
import { createNamespacedHelpers } from 'vuex-composition-helpers'
import ChatInput from '@components/ChatInput.vue'
import Message from '@components/Message.vue'
import { MESSAGE } from '@constants/types/message'
import dayjs from 'dayjs'
import RoomChatScreenHeader from '@components/RoomChatScreenHeader.vue'
import { USER_AND_ROOM } from '@constants/types/userAndRoom'
import router from '@/router'

const { useGetters: messageGetters } = createNamespacedHelpers('message')
const { useGetters: authGetters } = createNamespacedHelpers('auth')
const { type, loading, messages, users } = messageGetters(['type', 'loading', 'messages', 'users'])
const { user } = authGetters(['user'])

// Setup
const replyId = ref<number>(0)
const scrollBar = ref<any>(null)

// Methods
const checkTimeRemaining = (from: string, to: string) => {
  const fromDayjs = dayjs(from)
  const toDayjs = dayjs(to)
  const diff = toDayjs.diff(fromDayjs, 'second')
  const duration = dayjs.duration(diff, 'second')
  const minutes = duration.minutes()
  return minutes < 5
}

const getMessageVariant = (message: MESSAGE): MESSAGE_VARIANT_ENUM => {
  if (message.type === MESSAGE_TYPE_ENUM.notification) return MESSAGE_VARIANT_ENUM.single

  let prevMessage = messages.value[messages.value.indexOf(message) - 1]
  let nextMessage = messages.value[messages.value.indexOf(message) + 1]

  if (prevMessage && prevMessage.type === MESSAGE_TYPE_ENUM.notification) prevMessage = null
  if (nextMessage && nextMessage.type === MESSAGE_TYPE_ENUM.notification) nextMessage = null

  if (prevMessage && nextMessage) {
    if (prevMessage.sender.id === message.sender.id && nextMessage.sender.id === message.sender.id) {
      if (
        checkTimeRemaining(prevMessage.createdAt.toString(), message.createdAt.toString()) &&
        checkTimeRemaining(message.createdAt.toString(), nextMessage.createdAt.toString())
      ) {
        return MESSAGE_VARIANT_ENUM.middle
      } else if (
        checkTimeRemaining(prevMessage.createdAt.toString(), message.createdAt.toString()) &&
        !checkTimeRemaining(message.createdAt.toString(), nextMessage.createdAt.toString())
      ) {
        return MESSAGE_VARIANT_ENUM.last
      } else if (
        !checkTimeRemaining(prevMessage.createdAt.toString(), message.createdAt.toString()) &&
        checkTimeRemaining(message.createdAt.toString(), nextMessage.createdAt.toString())
      ) {
        return MESSAGE_VARIANT_ENUM.first
      } else {
        return MESSAGE_VARIANT_ENUM.single
      }
    }
    if (prevMessage.sender.id === message.sender.id && nextMessage.sender.id !== message.sender.id) {
      if (checkTimeRemaining(prevMessage.createdAt.toString(), message.createdAt.toString())) {
        return MESSAGE_VARIANT_ENUM.last
      } else {
        return MESSAGE_VARIANT_ENUM.single
      }
    }
    if (prevMessage.sender.id !== message.sender.id && nextMessage.sender.id === message.sender.id) {
      if (checkTimeRemaining(message.createdAt.toString(), nextMessage.createdAt.toString())) {
        return MESSAGE_VARIANT_ENUM.first
      } else {
        return MESSAGE_VARIANT_ENUM.single
      }
    }
  } else {
    if (prevMessage && !nextMessage) {
      if (prevMessage.sender.id === message.sender.id) {
        if (checkTimeRemaining(prevMessage.createdAt.toString(), message.createdAt.toString())) {
          return MESSAGE_VARIANT_ENUM.last
        } else {
          return MESSAGE_VARIANT_ENUM.single
        }
      }
    }
    if (!prevMessage && nextMessage) {
      if (nextMessage.sender.id === message.sender.id) {
        if (checkTimeRemaining(message.createdAt.toString(), nextMessage.createdAt.toString())) {
          return MESSAGE_VARIANT_ENUM.first
        } else {
          return MESSAGE_VARIANT_ENUM.single
        }
      }
    }

    if (!prevMessage && !nextMessage) {
      return MESSAGE_VARIANT_ENUM.single
    }

    return MESSAGE_VARIANT_ENUM.single
  }

  return MESSAGE_VARIANT_ENUM.single
}

const isShowTimeMessage = (message: MESSAGE): Boolean => {
  let prevMessage = messages.value[messages.value.indexOf(message) - 1]
  if (prevMessage && prevMessage.type === MESSAGE_TYPE_ENUM.notification) prevMessage = null
  if (prevMessage) {
    const diff = dayjs(message.createdAt).diff(dayjs(prevMessage.createdAt), 'minute')
    return diff > 5
  }
  return true
}

const handleChangeReplyId = (id: number) => {
  replyId.value = id
}
const handleGetSeenUsers = () => {
  const currentUserId = user.value.id
  const lastMessage = messages.value[messages.value.length - 1]
  return users.value.filter((user: USER_AND_ROOM) => {
    return user.lastSeenAt >= lastMessage.createdAt && user.user.id !== currentUserId
  })
}

// Watch
watch(
  () => [router.currentRoute.value],
  () => {
    if (replyId.value !== 0) replyId.value = 0
  }
)

watch(
  () => [messages.value.length],
  () => {
    if (scrollBar.value) {
      // TODO: fix scroll to bottom
    }
  }
)
</script>

<template>
  <div class="chat-screen">
    <a-spin :spinning="loading" style="height: 100vh">
      <room-chat-screen-header style="min-height: 64px" />
      <perfect-scrollbar ref="scrollBar" :class="{ has__reply: replyId !== 0 }" class="chat-screen-body">
        <message
          v-for="message in messages"
          :key="message.id"
          :is-show-time="isShowTimeMessage(message)"
          :message="message"
          :variant="getMessageVariant(message)"
          @reply="handleChangeReplyId"
        />
        <a-avatar-group v-if="handleGetSeenUsers()" :max-count="3" class="seen">
          <a-tooltip v-for="item in handleGetSeenUsers()" :key="item.user.id" :title="`Seen by ${item.user.lastName}`" placement="topLeft">
            <a-avatar :size="18" :src="item.user.profilePicture" />
          </a-tooltip>
        </a-avatar-group>
      </perfect-scrollbar>
      <chat-input :class="{ has__reply: replyId !== 0 }" :reply-id="replyId" class="chat-screen-input" @clear-reply="handleChangeReplyId(0)" />
    </a-spin>
  </div>
</template>

<style lang="scss">
.chat-screen {
  @apply flex flex-col h-full relative;
  .ant-spin-nested-loading {
    @apply h-full;

    .ant-spin-container {
      @apply h-full;
    }
  }

  .chat-screen-body {
    @apply flex-1 overflow-y-auto px-4 py-2;
    height: calc(100vh - 65px - 64px);

    &.has__reply {
      height: calc(100vh - 65px - 116px);
      @apply border-b-2 border-gray-200;
    }
  }

  .chat-screen-input {
    @apply absolute bottom-0 left-0 w-full;
  }

  .seen {
    @apply flex justify-end items-center mt-2;
  }
}
</style>
