<script lang="ts" setup>
import { Form } from 'ant-design-vue'
import { FacebookFilled } from '@ant-design/icons-vue'
import { DEFAULT_LOGIN_REQUEST, FORM_LAYOUT, LOGIN_FORM_RULES } from '@constants/login'
import LoginWithGoogle from '@components/LoginWithGoogle.vue'
import { reactive, ref } from 'vue'
import { LOGIN_REQUEST } from '@constants/types/auth'
import { createNamespacedHelpers } from 'vuex-composition-helpers'
import router from '@/router'

const { useActions, useGetters } = createNamespacedHelpers('auth')
const { login } = useActions(['login'])
const { status } = useGetters(['status'])

const useForm = Form.useForm
const formData = reactive<LOGIN_REQUEST>(DEFAULT_LOGIN_REQUEST)
const { validate } = useForm(formData, LOGIN_FORM_RULES)

const isDisabled = ref<boolean>(true)

const handleSubmit = () => {
  login(formData).then(() => {
    if (status.value) {
      formData.email = ''
      formData.password = ''
      router.push({
        name: 'Home',
      })
    }
  })
}
const handleChange = () => {
  validate()
    .then(() => {
      isDisabled.value = false
    })
    .catch(() => {
      isDisabled.value = true
    })
}
</script>

<template>
  <div class="login-screen">
    <div class="title">{{ $t('login.text.title') }}</div>
    <p class="description">{{ $t('login.text.description') }}</p>
    <a-card class="card">
      <div class="login-with">
        <login-with-google />
        <a-button class="button" type="primary">
          <template #icon>
            <FacebookFilled />
          </template>
          {{ $t('login.button.loginWithFacebook') }}
        </a-button>
      </div>
      <div class="divider">
        <span>{{ $t('login.text.or') }}</span>
      </div>
      <a-form
        class="login-form"
        v-bind="FORM_LAYOUT"
        :rules="LOGIN_FORM_RULES"
        :model="formData"
        @submit.prevent="handleSubmit"
        @change="handleChange"
      >
        <a-form-item :label="$t('login.label.email')" name="email">
          <img class="label" src="@assets/icons/at-sign.svg" alt="At Sign" />
          <a-input v-model:value="formData.email" placeholder="Email" />
        </a-form-item>
        <a-form-item :label="$t('login.label.password')" name="password">
          <img class="label" src="@assets/icons/lock.svg" alt="Lock" />
          <a-input-password type="password" v-model:value="formData.password" placeholder="Password" />
        </a-form-item>
        <a-form-item name="remember">
          <a-checkbox v-model:checked="formData.remember" class="remember">{{ $t('login.label.rememberMe') }}</a-checkbox>
        </a-form-item>
        <a-button class="button" :disabled="isDisabled" type="primary" html-type="submit">{{ $t('login.button.login') }}</a-button>
      </a-form>
    </a-card>
    <div class="register-link">
      {{ $t('login.text.haveAccount') }}
      <router-link to="/register">{{ $t('login.text.register') }}</router-link>
    </div>
  </div>
</template>

<style lang="scss">
.login-screen {
  @apply flex flex-col justify-center items-center;
  .title {
    @apply text-3xl font-bold mb-2;
  }

  .description {
    @apply text-gray-400;
  }

  .card {
    width: 540px;
    @apply mt-8 bg-gray-800 border-0 rounded-lg;

    .login-with {
      @apply w-full grid grid-cols-2 gap-4;

      .button {
        @apply h-12 bg-gray-600 text-white px-6 py-3 flex justify-between items-center rounded-lg border-0;
      }
    }

    .divider {
      @apply w-full flex justify-center items-center my-8 relative;
      span {
        @apply text-gray-400 bg-gray-800 px-4 z-10;
      }

      &::before {
        @apply absolute h-px bg-gray-400;
        content: '';
        @apply w-full left-0;
      }
    }

    .login-form {
      #form_item_email,
      .ant-input-affix-wrapper {
        @apply bg-gray-600 py-2 pl-10 border-0 rounded-lg hover:bg-gray-500 text-white;
        &:hover,
        &:focus,
        &:active,
        &:focus-within {
          @apply border-none outline-0;
        }
      }

      .ant-input-suffix {
        color: white;

        .ant-input-password-icon {
          svg {
            @apply text-white;
          }
        }
      }

      .ant-input-affix-wrapper.ant-input-password {
        .ant-input {
          @apply bg-transparent text-white;
        }
      }

      .label {
        @apply w-4 absolute top-1/2 left-3 transform -translate-y-1/2 z-20 text-white;
      }

      .remember {
        @apply text-gray-400;
      }

      .button {
        @apply w-full h-12 bg-blue-600 text-white px-6 py-3 flex justify-center items-center rounded-lg border-0 text-lg;

        &:disabled {
          @apply bg-gray-600;
        }
      }
    }
  }

  .register-link {
    @apply mt-4 text-gray-400;
    a {
      @apply text-blue-600;
    }
  }
}
</style>
