<script lang="ts" setup>
import { Form } from 'ant-design-vue'
import { FacebookFilled, GoogleOutlined } from '@ant-design/icons-vue'
import { DEFAULT_REGISTER_REQUEST, FORM_LAYOUT, REGISTER_FORM_RULES } from '@constants/register'
import { reactive, ref } from 'vue'
import { REGISTER_REQUEST } from '@constants/types/auth'
import { createNamespacedHelpers } from 'vuex-composition-helpers'
import router from '@/router'

const { useActions } = createNamespacedHelpers('auth')
const { register } = useActions(['register'])

const useForm = Form.useForm
const formData = reactive<REGISTER_REQUEST>(DEFAULT_REGISTER_REQUEST)
const { validate } = useForm(formData, REGISTER_FORM_RULES)

const isDisabled = ref<boolean>(true)

const handleSubmit = () => {
  register(formData).then(() => {
    router.push({
      name: 'Login',
    })
  })
}
const handleChange = () => {
  validate()
    .then(() => {
      isDisabled.value = false
    })
    .catch((reason) => {
      const { errorFields } = reason
      isDisabled.value = errorFields.length > 0
    })
}
</script>

<template>
  <div class="register-screen">
    <div class="title">{{ $t('register.text.title') }}</div>
    <p class="description">{{ $t('register.text.description') }}</p>
    <a-card class="card">
      <div class="register-with">
        <a-button class="button" type="primary">
          <template #icon>
            <google-outlined />
          </template>
          {{ $t('register.button.registerWithGoogle') }}
        </a-button>
        <a-button class="button" type="primary">
          <template #icon>
            <FacebookFilled />
          </template>
          {{ $t('register.button.registerWithFacebook') }}
        </a-button>
      </div>
      <div class="divider">
        <span>or</span>
      </div>
      <a-form
        class="register-form"
        v-bind="FORM_LAYOUT"
        :rules="REGISTER_FORM_RULES"
        :model="formData"
        @submit.prevent="handleSubmit"
        @change="handleChange"
      >
        <a-form-item :label="$t('register.label.email')" name="email">
          <img class="label" src="@assets/icons/at-sign.svg" alt="At Sign" />
          <a-input class="input input-with-icon" v-model:value="formData.email" placeholder="Email" />
        </a-form-item>
        <a-form-item :label="$t('register.label.password')" name="password">
          <img class="label" src="@assets/icons/lock.svg" alt="Lock" />
          <a-input-password class="input input-with-icon" type="password" v-model:value="formData.password" placeholder="Password" />
        </a-form-item>
        <div class="grid grid-cols-2 gap-2">
          <a-form-item :label="$t('register.label.firstName')" name="firstName">
            <a-input class="input" v-model:value="formData.firstName" placeholder="First name" />
          </a-form-item>
          <a-form-item :label="$t('register.label.lastName')" name="lastName">
            <a-input class="input" v-model:value="formData.lastName" placeholder="Last name" />
          </a-form-item>
        </div>
        <a-form-item :label="$t('register.label.phoneNumber')" name="phoneNumber">
          <a-input class="input" v-model:value="formData.phoneNumber" placeholder="Phone number" />
        </a-form-item>
        <a-form-item :label="$t('register.label.birthDate')" name="birthDate">
          <a-date-picker class="input w-full" v-model:value="formData.birthDate" @change="handleChange" />
        </a-form-item>
        <a-button class="button" :disabled="isDisabled" type="primary" html-type="submit">{{ $t('register.button.register') }}</a-button>
      </a-form>
    </a-card>
    <div class="register-link">
      {{ $t('register.text.haveAccount') }}
      <router-link to="/login">{{ $t('register.text.login') }}</router-link>
    </div>
  </div>
</template>

<style lang="scss">
.register-screen {
  @apply flex flex-col justify-center items-center;
  .title {
    @apply text-3xl font-bold mb-2;
  }

  .description {
    @apply text-gray-400;
  }

  .card {
    width: 540px;
    @apply mt-8 bg-gray-800 border-0 rounded-lg;

    .register-with {
      @apply w-full grid grid-cols-2 gap-4;

      .button {
        @apply h-12 bg-gray-600 text-white px-6 py-3 flex justify-between items-center rounded-lg border-0;
      }
    }

    .divider {
      @apply w-full flex justify-center items-center my-8 relative;
      span {
        @apply text-gray-400 bg-gray-800 px-4 z-10;
      }

      &::before {
        @apply absolute h-px bg-gray-400;
        content: '';
        @apply w-full left-0;
      }
    }

    .register-form {
      img + .input {
        @apply pl-10;
      }

      .input {
        @apply bg-gray-600 py-2 border-0 rounded-lg hover:bg-gray-500 text-white;

        &:hover,
        &:focus,
        &:active,
        &:focus-within {
          @apply border-none outline-0;
        }

        .ant-input-suffix {
          .ant-input-password-icon {
            svg {
              @apply text-white;
            }
          }
        }

        .ant-picker-input:not(.ant-picker-input-placeholder) {
          > input {
            @apply text-white;
          }

          #form_item_birthday {
            @apply text-white;
          }

          .anticon-calendar {
            @apply text-white;
          }

          .ant-picker-clear {
            @apply text-white bg-gray-500;
          }
        }
      }

      .ant-input-affix-wrapper.ant-input-password {
        .ant-input {
          @apply bg-transparent text-white;
        }
      }

      .label {
        @apply w-4 absolute top-1/2 left-3 transform -translate-y-1/2 z-20 text-white;
      }

      .remember {
        @apply text-gray-400;
      }

      .button {
        @apply w-full h-12 mt-8 bg-blue-600 text-white px-6 py-3 flex justify-center items-center rounded-lg border-0 text-lg;

        &:disabled {
          @apply bg-gray-600;
        }
      }
    }
  }

  .register-link {
    @apply mt-4 text-gray-400;
    a {
      @apply text-blue-600;
    }
  }
}
</style>
