<script lang="ts" setup>
import { createNamespacedHelpers } from 'vuex-composition-helpers'
import { computed } from 'vue'

const { useGetters } = createNamespacedHelpers('auth')
const { user } = useGetters(['user'])

const getUserData = computed(() => {
  const { id, firstName, lastName, email, phoneNumber, birthDate, profilePicture } = user.value

  return {
    id,
    firstName,
    lastName,
    email,
    phoneNumber,
    birthDate,
    profilePicture,
  }
})
</script>

<template>
  <div class="welcome">
    <div class="welcome__header">
      <a-image :alt="getUserData.firstName" :src="getUserData.profilePicture" class="welcome__header__image" />
      <div class="welcome__header__text">
        <h1 class="welcome__header__text__title">Welcome,</h1>
        <p class="welcome__header__text__name">{{ getUserData.firstName }} {{ getUserData.lastName }}</p>
      </div>
    </div>
    <div class="welcome__body">
      <div class="welcome__body__description">Here are some quick links to get you started:</div>
      <div class="welcome__body__links">
        <div class="welcome__body__links__link">
          <a-image class="welcome__body__links__link__image" src="https://gw.alipayobjects.com/zos/antfincdn/UCSiy1j6jx/xingzhuang.svg" />
          <div class="welcome__body__links__link__text">Edit Profile</div>
          <div class="welcome__body__links__link__desc">Update your profile information, such as your name, email, and phone number.</div>
          <a-button class="welcome__body__links__link__button" type="primary">Edit</a-button>
        </div>
        <div class="welcome__body__links__link">
          <a-image class="welcome__body__links__link__image" src="https://gw.alipayobjects.com/zos/antfincdn/UCSiy1j6jx/xingzhuang.svg" />
          <div class="welcome__body__links__link__text">Edit Profile</div>
          <div class="welcome__body__links__link__desc">Update your profile information, such as your name, email, and phone number.</div>
          <a-button class="welcome__body__links__link__button" type="primary">Edit</a-button>
        </div>
      </div>
    </div>
    <div class="welcome__footer">
      You are signed in as
      <a>{{ getUserData.email }}</a>
      . Not you?
      <a>Sign out</a>
    </div>
  </div>
</template>

<style lang="scss">
.welcome {
  @apply flex flex-col justify-center items-center w-full h-full bg-gray-100;

  &__header {
    @apply flex flex-row items-center;

    &__image {
      @apply w-32 h-32 rounded-full object-cover;
    }

    &__text {
      @apply flex flex-col ml-4;

      &__title {
        @apply text-4xl font-light;
      }

      &__name {
        @apply text-xl;
      }
    }
  }

  &__body {
    @apply flex flex-col items-center mt-8;

    &__description {
      @apply text-xl font-light;
    }

    &__links {
      @apply flex flex-row mt-12 gap-6;

      &__link {
        @apply flex flex-col w-80 p-4 bg-white rounded-lg shadow-lg mb-4;

        &__image {
          @apply w-16 h-16;
        }

        &__text {
          @apply text-xl font-medium mt-4;
        }

        &__desc {
          @apply text-sm mt-2;
        }

        &__button {
          @apply mt-4;
        }
      }
    }
  }

  &__footer {
    @apply flex flex-row items-center mt-8;

    a {
      @apply ml-1 text-blue-500;
    }
  }
}
</style>
