<script lang="ts" setup>
import { onMounted, ref } from 'vue'
import { SearchOutlined } from '@ant-design/icons-vue'
import { createNamespacedHelpers } from 'vuex-composition-helpers'
import { CHAT_ITEM, GET_CHAT_DETAIL_REQUEST, GET_CHAT_LIST_REQUEST } from '@constants/types/message'
import ChatMenuItem from '@components/ChatMenuItem.vue'
import router from '@/router'

const { useGetters: messageGetters, useActions: messageActions } = createNamespacedHelpers('message')
const { useGetters: sidebarGetters, useActions: sidebarActions } = createNamespacedHelpers('sidebar')
const { getChatDetail, getMessages } = messageActions(['getChatDetail', 'getMessages'])
const { getChatList } = sidebarActions(['getChatList'])
const { chatList, status, loading: sidebarLoading } = sidebarGetters(['chatList', 'status', 'loading'])

const debounce = ref<any>(null)
const search = ref<string>('')

const loading = ref<boolean>(true)

const handleFetchChatDetail = () => {
  let currentChat: CHAT_ITEM = chatList.value.find((item: CHAT_ITEM) => item.key === router.currentRoute.value.params.key)
  if (!currentChat && chatList.value.length === 0) {
    router.push({ name: 'Chat' })
  }
  if (!currentChat && chatList.value.length > 0) {
    currentChat = chatList.value[0]
    router.push({ name: 'ChatDetail', params: { key: currentChat.key } })
  }
  const getChatDetailParams: GET_CHAT_DETAIL_REQUEST = {
    key: currentChat ? currentChat.key : '',
  }
  if (getChatDetailParams.key) {
    getChatDetail(getChatDetailParams)
  }
}
const handleFetchData = (isLoadChatDetail: boolean = false) => {
  const params: GET_CHAT_LIST_REQUEST = {
    key: search.value,
  }
  getChatList(params).then(() => {
    loading.value = false
    if (isLoadChatDetail && !router.currentRoute.value.params.key) {
      if (chatList.value.length > 0) {
        router.push({ name: 'ChatDetail', params: { key: chatList.value[0].key } })
      }
    }
    if (isLoadChatDetail) {
      handleFetchChatDetail()
    }
  })
}

const debounceSearch = () => {
  clearTimeout(debounce.value)
  loading.value = true
  debounce.value = setTimeout(() => {
    handleFetchData(false)
  }, 800)
}

const handleRedirect = (key: string) => {
  router
    .push({
      name: 'ChatDetail',
      params: { key },
    })
    .then(() => {
      handleFetchChatDetail()
    })
  if (search.value) {
    search.value = ''
    handleFetchData()
  }
}

onMounted(() => {
  handleFetchData(true)
})

const isActivated = (item: CHAT_ITEM) => {
  return item.key === router.currentRoute.value.params.key
}
</script>

<template>
  <a-input v-model:value="search" class="search" placeholder="Search..." @change="debounceSearch">
    <template #prefix>
      <search-outlined />
    </template>
  </a-input>
  <a-spin :spinning="loading || sidebarLoading" class="spin">
    <perfect-scrollbar class="menu">
      <chat-menu-item v-for="item in chatList" :key="item.id" :data="item" :is-active="isActivated(item)" @redirected="handleRedirect" />
    </perfect-scrollbar>
  </a-spin>
</template>

<style lang="scss">
.sidebar-content {
  .search {
    @apply mb-2 rounded-full bg-gray-100 border-transparent z-50;
    .ant-input {
      @apply text-sm bg-transparent;
    }
  }

  .ant-spin-nested-loading {
    height: calc(100% - 32px - 0.5rem);

    .ant-spin-container {
      height: 100%;
    }
  }

  .menu {
    @apply flex flex-col gap-2 overflow-y-auto h-full;
  }
}

.small {
  .search {
    @apply hidden;
  }
}
</style>
