<script lang="ts" setup>
import { CHAT_ITEM } from '@constants/types/message'
import { computed, PropType } from 'vue'
import { UserOutlined } from '@ant-design/icons-vue'
import { MESSAGE_TYPE_ENUM } from '@constants/enums/message'
import store from '@/store'
import { formatDate } from '@libs/dayjs'
import router from '@/router'

const props = defineProps({
  data: {
    type: Object as PropType<CHAT_ITEM>,
    required: true,
    default: () => ({}),
  },
  isActive: {
    type: Boolean,
    required: true,
    default: false,
  },
})

const emit = defineEmits(['redirected'])

const handleRedirect = (key: string) => {
  if (router.currentRoute.value.params.key !== key) {
    emit('redirected', key)
  }
}

const getData = computed(() => {
  const name = props.data?.name || ''
  const lastMessage = props.data?.lastMessage || ''
  const photo = props.data?.photo || ''
  const key = props.data?.key || ''
  const messageStatus = props.data?.messageStatus || { isRead: true }
  const time = props.data?.lastMessage?.createdAt ? formatDate(new Date(props.data?.lastMessage?.createdAt), 'HH:mm DD/MM') : new Date()
  const sender =
    props.data?.lastMessage?.type === MESSAGE_TYPE_ENUM.notification
      ? 'System'
      : lastMessage?.sender?.lastName === store.getters['auth/user'].lastName
      ? 'You'
      : lastMessage?.sender?.lastName
  return { name, lastMessage, photo, key, messageStatus, sender, time }
})
</script>

<template>
  <div :class="{ unread: !data.isSeen, active: isActive }" class="chat-list-item" @click="handleRedirect(getData.key)">
    <div class="chat-list-item__avatar">
      <a-avatar class="image" size="large">
        <template #icon>
          <img v-if="getData.photo" :src="getData.photo" alt="profile picture" />
          <user-outlined v-else />
        </template>
      </a-avatar>
    </div>
    <div class="chat-list-item__info">
      <div class="chat-list-item__info__name">
        {{ getData.name }}
      </div>
      <div v-if="getData.lastMessage" class="chat-list-item__info__message">
        <div class="content">{{ getData.sender }} : {{ props.data.lastMessage.content }}</div>
        <div class="time">{{ getData.time }}</div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.chat-list-item {
  @apply flex items-center p-2 cursor-pointer gap-3 transition-all duration-300 ease-in-out;

  .chat-list-item__avatar {
    .image {
      @apply flex justify-center items-center;
    }
  }

  .chat-list-item__info {
    @apply flex flex-col justify-center items-start w-full;

    .chat-list-item__info__name {
      @apply text-sm font-semibold;
    }

    .chat-list-item__info__message {
      @apply text-xs text-gray-500 truncate italic flex justify-between w-full;

      .content {
        @apply truncate;

        max-width: 182px;
      }
    }
  }

  &.unread {
    @apply bg-gray-100 rounded-lg;
  }

  &:hover {
    @apply bg-gray-200 rounded-lg;
  }

  &.active {
    @apply bg-gray-200 rounded-lg;
  }
}

.small {
  .chat-list-item {
    .chat-list-item__info {
      @apply hidden;
    }
  }
}
</style>
