<script lang="ts" setup>
import { MESSAGE, SEND_MESSAGE_REQUEST } from '@constants/types/message'
import { computed, ref } from 'vue'
import { CloseOutlined } from '@ant-design/icons-vue'
import { createNamespacedHelpers } from 'vuex-composition-helpers'
import { MESSAGE_TYPE_ENUM } from '@constants/enums/message'
import EmojiSelect from '@components/EmojiSelect.vue'
import { EMOJI } from '@constants/emoji'
import UploadPhoto from '@components/UploadPhoto.vue'
import { UPLOAD_PHOTO_LIST_TYPE } from '@constants/enums/antdv'
import { FILE_DATA } from '@constants/types/file'
import UploadFile from '@components/UploadFile.vue'

const { useActions: messageActions, useGetters: messageGetters } = createNamespacedHelpers('message')
const { sendMessage } = messageActions(['sendMessage'])
const { success, chatDetail, type, messages } = messageGetters(['success', 'chatDetail', 'type', 'messages'])

const props = defineProps({
  replyId: {
    type: Number,
    required: false,
    default: null,
  },
})
const emit = defineEmits(['clear-reply'])

const content = ref<string>('')

const getReplyMessage = computed<MESSAGE>(() => {
  const { replyId } = props
  if (replyId === 0) return null
  return messages.value.find((message: MESSAGE) => message.id === replyId)
})

const handleSend = () => {
  const params: SEND_MESSAGE_REQUEST = {
    content: content.value,
    type: MESSAGE_TYPE_ENUM.text,
    key: chatDetail.value.roomKey,
    replyMessageId: props.replyId,
  }

  if (!content.value) return
  sendMessage(params).then(() => {
    content.value = ''
    emit('clear-reply')
  })
}

const handleSendMessageWithImage = (data: FILE_DATA) => {
  const params: SEND_MESSAGE_REQUEST = {
    content: data.filePath,
    type: MESSAGE_TYPE_ENUM.image,
    key: chatDetail.value.roomKey,
    replyMessageId: undefined,
  }

  sendMessage(params).then(() => {
    content.value = ''
    emit('clear-reply')
  })
}

const handleSendMessageWithFile = (data: FILE_DATA) => {
  const params: SEND_MESSAGE_REQUEST = {
    content: data.filePath,
    type: MESSAGE_TYPE_ENUM.file,
    key: chatDetail.value.roomKey,
    replyMessageId: undefined,
  }

  sendMessage(params).then(() => {
    content.value = ''
    emit('clear-reply')
  })
}

const handleSelectEmoji = (emojiData: EMOJI) => {
  content.value += emojiData.emoji
}

const handleClearReply = () => {
  emit('clear-reply')
}
</script>

<template>
  <div>
    <div v-if="!!getReplyMessage" class="reply">
      <div class="reply__user">
        Replying to
        <span class="reply__user__name">{{ getReplyMessage.sender.lastName }}</span>
      </div>
      <div class="reply__content">{{ getReplyMessage.content }}</div>
      <a-button class="reply__clear" @click="handleClearReply">
        <template #icon>
          <close-outlined />
        </template>
      </a-button>
    </div>
    <div class="chat-input">
      <form class="chat-input-container" @submit.prevent="handleSend">
        <div class="actions">
          <a-tooltip color="blue" title="Send with file">
            <upload-file @on-change-file="handleSendMessageWithFile" />
          </a-tooltip>
          <a-tooltip color="blue" title="Send with image">
            <upload-photo :list-type="UPLOAD_PHOTO_LIST_TYPE.TEXT" @on-change-photo="handleSendMessageWithImage" />
          </a-tooltip>
        </div>
        <a-input v-model:value="content" class="input" placeholder="Type a message">
          <template #suffix>
            <emoji-select @select-emoji="handleSelectEmoji">
              <a-tooltip color="blue" title="Choose emoji">
                <a-button class="icon-btn">
                  <template #icon>
                    <img alt="smile icon" src="@assets/icons/smile.svg" />
                  </template>
                </a-button>
              </a-tooltip>
            </emoji-select>
          </template>
        </a-input>
        <a-button class="send-btn" html-type="submit">
          <template #icon>
            <img alt="send icon" src="@assets/icons/send.svg" />
          </template>
        </a-button>
      </form>
    </div>
  </div>
</template>

<style lang="scss">
.chat-input {
  @apply flex items-center px-4 py-2 bg-white;
  .chat-input-container {
    @apply flex-1 flex items-center;
    .actions {
      @apply flex items-center gap-2;

      .action {
        @apply border-none;
      }
    }

    .input {
      @apply flex-1 mx-2 rounded-full bg-gray-100 border-none px-3;

      .ant-input {
        @apply bg-transparent;
      }
    }

    .icon-btn,
    .send-btn {
      @apply border-none flex items-center justify-center;
    }

    .icon-btn {
      @apply bg-transparent;
    }
  }
}

.reply {
  @apply flex flex-col p-2 bg-white relative;
  .reply__user {
    @apply text-gray-500;
    .reply__user__name {
      @apply font-bold;
    }
  }

  .reply__content {
    @apply text-gray-400;
    // Line clamp 1 line and width 100%
    @apply overflow-hidden whitespace-nowrap overflow-ellipsis w-full;
  }

  .reply__clear {
    @apply border-none bg-transparent h-6 w-6 absolute right-2 top-2;
  }
}
</style>
