<script lang="ts" setup>
import { nextTick, onMounted, ref, watch } from 'vue'

const props = defineProps({
  value: {
    type: String,
    default: '',
    required: true,
  },
  disabled: {
    type: Boolean,
    default: false,
    required: false,
  },
})

const emit = defineEmits(['update:value'])

const isEditing = ref(false)
const editedValue = ref(props.value)
const inputRef = ref<HTMLInputElement | null>(null)

const startEditing = () => {
  isEditing.value = true
  setTimeout(() => {
    editedValue.value = props.value

    nextTick(() => {
      inputRef.value!.focus()
      inputRef.value!.setSelectionRange(0, editedValue.value.length)
    })
  }, 0)
}

const cancelEditing = () => {
  isEditing.value = false
  editedValue.value = props.value
}

const saveEditing = () => {
  isEditing.value = false
  emit('update:value', editedValue.value)
}

const onEnter = (event: KeyboardEvent) => {
  event.preventDefault()
  saveEditing()
}

// Watch for changes in the props.value and update the editedValue when it changes
watch(
  () => props.value,
  (newValue) => {
    editedValue.value = newValue
  }
)

// Focus the input field when the component is mounted
onMounted(() => {
  if (isEditing.value) {
    inputRef.value!.focus()
  }
})
</script>

<template>
  <div class="editable__text">
    <span v-if="!isEditing" class="editable__text__value">{{ value }}</span>
    <input v-if="isEditing" class="editable__text__input" type="text" v-model="editedValue" ref="inputRef" @keydown.enter="onEnter" />
    <div v-if="!disabled" class="flex">
      <a-button v-if="!isEditing" class="editable__text__edit--btn" @click="startEditing">
        <template #icon>
          <img src="@assets/icons/edit.svg" alt="edit" />
        </template>
      </a-button>
      <a-button v-if="isEditing" class="editable__text__cancel--btn" @click="cancelEditing">
        <template #icon>
          <img src="@assets/icons/x.svg" alt="x" />
        </template>
      </a-button>
      <a-button v-if="isEditing" class="editable__text__save--btn" @click="saveEditing">
        <template #icon>
          <img src="@assets/icons/check.svg" alt="check" />
        </template>
      </a-button>
    </div>
  </div>
</template>

<style lang="scss">
.editable__text {
  @apply inline-flex items-center;

  &__value {
    @apply text-gray-500 font-semibold;
  }

  &__input {
    @apply text-gray-500 font-semibold border-none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 0 5px;
    width: 160px;
  }

  &__edit--btn {
    @apply ml-3 flex items-center justify-center border-none w-5;
  }

  &__cancel--btn {
    @apply ml-2 flex items-center justify-center border-none w-5;
  }

  &__save--btn {
    @apply ml-2 flex items-center justify-center border-none w-5;
  }
}
</style>
