<script lang="ts" setup>
import { computed, ref } from 'vue'
import { EMOJI, EMOJI_CATEGORY_LIST, EMOJIS } from '@constants/emoji'
import { EMOJI_CATEGORY_TYPE } from '@constants/types/emoji'

// Define emits
const emit = defineEmits(['select-emoji'])

// Setup
const selectedEmojiCategory = ref<EMOJI_CATEGORY_TYPE>(EMOJI_CATEGORY_LIST[0])
const scrollBar = ref<any>()

// Computed
const emojiCategoryList = computed<EMOJI_CATEGORY_TYPE[]>(() => {
  return EMOJI_CATEGORY_LIST
})
const emojiList = computed<EMOJI[]>(() => {
  return EMOJIS[selectedEmojiCategory.value.type]
})

// Methods
const handleScrollToTop = () => {
  if (scrollBar.value) {
    scrollBar.value.$el.scrollTop = 0
  }
}
const handleSelectEmojiCategory = (type: EMOJI_CATEGORY_TYPE) => {
  selectedEmojiCategory.value = type
  handleScrollToTop()
}
const handleSelectEmoji = (emoji: EMOJI) => {
  emit('select-emoji', emoji)
}

// Watch

// Life cycle
</script>

<template>
  <a-popover placement="topLeft" trigger="click">
    <template #content>
      <div class="emoji__select">
        <div class="emoji__select__categories">
          <div
            v-for="item in emojiCategoryList"
            :key="item.type"
            :class="{ selected: item.type === selectedEmojiCategory.type }"
            class="emoji__select__categories__category"
            @click="handleSelectEmojiCategory(item)"
          >
            {{ item.emoji.emoji }}
          </div>
        </div>
        <perfect-scrollbar ref="scrollBar" class="emoji__select__emojis">
          <div v-for="item in emojiList" :key="item.emoji" class="emoji__select__emojis__emoji" @click="handleSelectEmoji(item)">
            {{ item.emoji }}
          </div>
        </perfect-scrollbar>
      </div>
    </template>
    <slot />
  </a-popover>
</template>

<style lang="scss">
.emoji__select {
  @apply flex flex-wrap w-96;

  &__categories {
    @apply flex flex-row w-full gap-2;

    &__category {
      @apply w-1/4 flex justify-center items-center cursor-pointer text-2xl hover:bg-gray-200 rounded transition-all duration-500
      ease-linear px-2 py-1 select-none;

      &.selected {
        @apply bg-gray-200 rounded;
      }
    }
  }

  &__emojis {
    @apply flex flex-row flex-wrap w-full gap-2 h-48 mt-3;

    &__emoji {
      @apply flex justify-center items-center cursor-pointer text-xl hover:bg-gray-200 rounded transition-all duration-500
      ease-linear px-2 py-1 w-14 select-none;
    }
  }
}
</style>
