<script lang="ts" setup>
import { decodeCredential, googleAuthCodeLogin } from 'vue3-google-login'
import { GoogleOutlined } from '@ant-design/icons-vue'

const login = () => {
  googleAuthCodeLogin().then((response) => {
    const { code } = response
    // decode code to get access token
    console.log(decodeCredential(code))
  })
}
</script>

<template>
  <a-button class="button" type="primary" @click="login">
    <template #icon>
      <google-outlined />
    </template>
    {{ $t('login.button.loginWithGoogle') }}
  </a-button>
</template>

<style lang="scss">
.button {
  @apply h-12 bg-gray-600 text-white px-6 py-3 flex justify-between items-center rounded-lg border-0;
}
</style>
