<script lang="ts" setup>
import { computed, PropType } from 'vue'
import { MESSAGE } from '@constants/types/message'
import { MESSAGE_TYPE_ENUM, MESSAGE_VARIANT_ENUM } from '@constants/enums/message'
import { MESSAGE_COMPONENTS } from '@constants/message'

const props = defineProps({
  message: {
    type: Object as PropType<MESSAGE>,
    required: true,
  },
  variant: {
    type: String as PropType<MESSAGE_VARIANT_ENUM>,
    required: true,
    default: MESSAGE_VARIANT_ENUM.single,
  },
  isShowTime: {
    type: Boolean,
    required: false,
    default: false,
  },
})

const emit = defineEmits(['reply'])

const messageComponent = computed<MESSAGE_TYPE_ENUM>(() => {
  switch (props.message.type) {
    case MESSAGE_TYPE_ENUM.notification: {
      return MESSAGE_TYPE_ENUM.notification
    }
    case MESSAGE_TYPE_ENUM.image: {
      return MESSAGE_TYPE_ENUM.image
    }
    case MESSAGE_TYPE_ENUM.file: {
      return MESSAGE_TYPE_ENUM.file
    }

    default: {
      return MESSAGE_TYPE_ENUM.text
    }
  }
})

const handleReply = (data: number) => {
  emit('reply', data)
}
</script>

<template>
  <component :is="MESSAGE_COMPONENTS[messageComponent]" :class="variant" :is-show-time="isShowTime" :message="message" @reply="handleReply" />
</template>

<style lang="scss"></style>
