<script lang="ts" setup>
import { PropType } from 'vue'
import { URL_PREVIEW } from '@constants/types/message'

defineProps({
  data: {
    type: Object as PropType<URL_PREVIEW>,
    required: true,
  },
})

const convertUrlToLink = (url: string) => {
  if (url.includes('http://') || url.includes('https://')) {
    return url
  }
  return `http://${url}`
}

const handleOpenUrl = (url: string) => {
  window.open(convertUrlToLink(url), '_blank')
}
</script>

<template>
  <div class="preview-url" @click="handleOpenUrl(data.url)">
    <div class="preview-url__image">
      <img :src="data.image" alt="" />
    </div>
    <div class="preview-url__content">
      <div class="preview-url__content__title">
        {{ data.title }}
      </div>
      <div class="preview-url__content__description">
        {{ data.description }}
      </div>
      <div class="preview-url__content__url">
        {{ data.url }}
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.preview-url {
  @apply flex items-center p-2 rounded-lg bg-gray-200 mt-1 cursor-pointer;

  &__image {
    @apply w-24 h-24 mr-2 rounded-lg overflow-hidden;

    img {
      @apply w-full h-full object-contain;
    }
  }

  &__content {
    @apply flex-1 max-w-[250px];

    &__title {
      @apply text-lg font-semibold mb-1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
    }

    &__description {
      @apply text-sm mb-1 overflow-hidden whitespace-normal overflow-ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
    }

    &__url {
      @apply text-xs text-gray-500;
    }
  }
}
</style>
