<script lang="ts" setup>
import { computed, PropType } from 'vue'
import { MESSAGE_REACTIONS } from '@constants/message'
import { MESSAGE_REACTION, MESSAGE_STATUS, SEND_REACTION_MESSAGE_REQUEST } from '@constants/types/message'
import { createNamespacedHelpers } from 'vuex-composition-helpers'

const { useGetters: authGetters, useActions: authActions } = createNamespacedHelpers('auth')
const { useActions: messageActions } = createNamespacedHelpers('message')
const { user } = authGetters(['user'])
const { reactionMessage } = messageActions(['reactionMessage'])

const props = defineProps({
  reactions: {
    type: Array as PropType<Array<MESSAGE_STATUS>>,
    required: true,
    default: () => [],
  },
  messageId: {
    type: Number,
    required: true,
    default: 0,
  },
})

const getReactions = computed<Array<MESSAGE_REACTION>>(() => {
  return MESSAGE_REACTIONS.map((item: MESSAGE_REACTION) => {
    const count = props.reactions.filter((reaction: MESSAGE_STATUS) => reaction.reaction === item.action).length
    return {
      ...item,
      count,
    }
  })
})

const handleReaction = (reaction: MESSAGE_REACTION) => {
  const params: SEND_REACTION_MESSAGE_REQUEST = {
    messageId: props.messageId,
    reaction: reaction.action,
  }
  reactionMessage(params)
}

const isActivated = (reaction: MESSAGE_REACTION): boolean => {
  const userId = user.value.id
  const reactionStatus = props.reactions.find((item: MESSAGE_STATUS) => item.reaction === reaction.action && item.user.id === userId)
  if (!reactionStatus) {
    return false
  }
  return reactionStatus.reaction === reaction.action
}
</script>

<template>
  <a-popover trigger="click" placement="bottomLeft">
    <template #content>
      <div class="reaction__list">
        <div
          v-for="item in getReactions"
          :key="item.action"
          class="reaction__list__reaction"
          :class="{ activated: isActivated(item) }"
          @click="handleReaction(item)"
        >
          <a-tooltip :title="item.title">
            <span class="reaction__list__reaction__emoji">{{ item.emoji }}</span>
          </a-tooltip>
          <span v-if="item.count" class="reaction__list__reaction__count">{{ item.count }}</span>
        </div>
      </div>
    </template>
    <slot />
  </a-popover>
</template>

<style lang="scss">
.reaction__list {
  @apply flex flex-wrap gap-1;

  &__reaction {
    @apply w-10 h-10 p-1 flex justify-center items-center cursor-pointer text-2xl relative transition-all duration-500 ease-linear;

    &:hover {
      @apply bg-gray-200 rounded-full;
    }

    &__count {
      @apply absolute top-[70%] left-[70%] text-xs text-white bg-blue-500 rounded-full w-4 h-4 flex justify-center items-center z-50;
    }

    &.activated {
      @apply text-white rounded-full bg-gray-300;
    }
  }
}
</style>
