<script lang="ts" setup>
import { computed, PropType, ref } from 'vue'
import { createNamespacedHelpers } from 'vuex-composition-helpers'
import { GET_USER_REQUEST } from '@constants/types/user'
import { USER_RELATIONSHIP_STATUS } from '@constants/enums/relationship'
import UserItem from '@components/UserItem.vue'

const { useGetters: userGetters, useActions: userActions } = createNamespacedHelpers('user')
const { useActions: sidebarActions } = createNamespacedHelpers('sidebar')

// Vuex getters
const { users, friends, sentRequests, receivedRequests, loading } = userGetters(['users', 'friends', 'sentRequests', 'receivedRequests', 'loading'])

// Vuex actions
const { getUsers } = userActions(['getUsers'])
const { getChatList } = sidebarActions(['getChatList'])

// Define
const props = defineProps({
  relationshipStatus: {
    type: String as PropType<USER_RELATIONSHIP_STATUS>,
    required: true,
    default: USER_RELATIONSHIP_STATUS.friend,
  },
})

// Setup
const searchValue = ref<string>('')
const debounce = ref<any>(null)
const debounceLoading = ref<boolean>(false)

// Methods
const handleFetchData = (isGetChatList: Boolean = false) => {
  const params: GET_USER_REQUEST = {
    key: searchValue.value,
    relationshipStatus: props.relationshipStatus,
  }
  getUsers(params).then(() => {
    debounceLoading.value = false
  })
  if (isGetChatList) {
    getChatList()
  }
}
const onSearch = (): void => {
  handleFetchData()
}
const debounceSearch = () => {
  clearTimeout(debounce.value)
  debounceLoading.value = true
  debounce.value = setTimeout(() => {
    handleFetchData()
  }, 800)
}

const getData = () => {
  if (props.relationshipStatus === USER_RELATIONSHIP_STATUS.friend) {
    return friends.value
  }
  if (props.relationshipStatus === USER_RELATIONSHIP_STATUS.sent_request) {
    return sentRequests.value
  }
  if (props.relationshipStatus === USER_RELATIONSHIP_STATUS.received_request) {
    return receivedRequests.value
  }
  return users.value
}

// Computed
const isEmpty = computed<boolean>(() => {
  return getData().length === 0
})
const isLoading = computed<boolean>(() => {
  return loading.value || debounceLoading.value
})

// Watch

// OnMounted
</script>

<template>
  <div class="friend-tab">
    <a-input-search v-model:value="searchValue" placeholder="Search" @input="debounceSearch" @search="onSearch" />
    <a-spin :spinning="isLoading">
      <perfect-scrollbar v-if="!isEmpty" class="mt-3 user-list">
        <user-item
          v-for="user in getData()"
          :key="user.id"
          :data="user"
          :relationshipStatus="relationshipStatus"
          @update:relationship-status="handleFetchData(true)"
        />
      </perfect-scrollbar>
      <div v-else class="empty mt-3">
        <a-result title="No data">
          <template #extra>
            <a-button key="console" type="primary">Go Console</a-button>
          </template>
        </a-result>
      </div>
    </a-spin>
  </div>
</template>

<style lang="scss">
.friend-tab {
  .user-list {
    height: 460px;
  }

  .empty {
    height: 460px;
    @apply flex justify-center items-center;
  }
}
</style>
