<script lang="ts" setup>
import { computed, ref } from 'vue'
import { EllipsisOutlined, UserOutlined } from '@ant-design/icons-vue'
import { createNamespacedHelpers } from 'vuex-composition-helpers'
import RoomManagementDrawer from '@components/RoomManagementDrawer.vue'

const { useGetters } = createNamespacedHelpers('message')
const { chatDetail } = useGetters(['chatDetail'])

const getUserData = computed(() => {
  const { name, image, usersInvited = [] } = chatDetail.value
  return { name, image, count: usersInvited.length }
})

const drawerVisible = ref(false)
const toggleDrawer = () => {
  drawerVisible.value = !drawerVisible.value
}
</script>

<template>
  <div class="header">
    <div class="header__left">
      <a-avatar class="header__left__image" size="large">
        <template #icon>
          <user-outlined v-if="!getUserData.image" />
          <img v-else :src="getUserData.image" alt="profile picture" />
        </template>
      </a-avatar>
      <div class="header__left__info">
        <h3 class="header__left__info__name">{{ getUserData.name }}</h3>
        <p class="header__left__info__status">{{ getUserData.count }} {{ getUserData.count > 1 ? 'members' : 'member' }}</p>
      </div>
    </div>
    <div class="header__right">
      <a-button class="header__right__icon" type="text" @click="toggleDrawer">
        <template #icon>
          <ellipsis-outlined />
        </template>
      </a-button>
      <room-management-drawer :visible="drawerVisible" @on-close="toggleDrawer" />
    </div>
  </div>
</template>

<style lang="scss">
.header {
  @apply flex justify-between items-center px-4 py-2 bg-white border-b border-gray-200;

  &__left {
    @apply flex items-center space-x-4 cursor-pointer;

    &__image {
      @apply flex items-center justify-center;
    }

    &__info {
      @apply ml-4;

      &__name {
        @apply text-lg font-semibold mb-0;
      }

      &__status {
        @apply text-sm text-gray-500 mb-0;
      }
    }
  }

  &__right {
    @apply flex items-center space-x-4;

    &__icon {
      @apply ml-4 text-lg text-gray-500 cursor-pointer hover:text-gray-700;
    }
  }
}
</style>
