<script lang="ts" setup>
import { computed, PropType } from 'vue'
import { GET_USER_AND_ROOM_STATUS_ENUM } from '@constants/enums/userAndRoom'
import { HANDLE_ROOM_ACTION, ROOM, ROOM_ACTION_TYPE } from '@constants/types/room'
import { UserOutlined } from '@ant-design/icons-vue'
import { ROOM_ACTIONS } from '@constants/room'
import { HANDLE_ROOM_ACTION_ENUM } from '@constants/enums/room'
import ConfirmModal from '@components/modals/ConfirmModal.vue'

// Define
const props = defineProps({
  status: {
    type: String as PropType<GET_USER_AND_ROOM_STATUS_ENUM>,
    required: true,
  },
  room: {
    type: Object as PropType<ROOM>,
    required: true,
    default: () => ({}),
  },
})
const emit = defineEmits(['update:status'])

// Setup

// Methods
const handleSendRequest = (action: HANDLE_ROOM_ACTION_ENUM) => {
  const params: HANDLE_ROOM_ACTION = {
    action,
    key: props.room.roomKey,
  }
  emit('update:status', params)
}
const getTypeConfirm = (action: HANDLE_ROOM_ACTION_ENUM) => {
  switch (action) {
    case HANDLE_ROOM_ACTION_ENUM.accept:
      return 'success'
    case HANDLE_ROOM_ACTION_ENUM.reject:
      return 'warning'
    case HANDLE_ROOM_ACTION_ENUM.leave:
      return 'warning'
    case HANDLE_ROOM_ACTION_ENUM.delete:
      return 'warning'
    default:
      return 'info'
  }
}

// Computed
const handleGetActions = computed<Array<ROOM_ACTION_TYPE>>(() => {
  switch (props.status) {
    case GET_USER_AND_ROOM_STATUS_ENUM.owner: {
      return ROOM_ACTIONS.filter((item: ROOM_ACTION_TYPE) => {
        return item.action === HANDLE_ROOM_ACTION_ENUM.delete
      })
    }
    case GET_USER_AND_ROOM_STATUS_ENUM.invited: {
      return ROOM_ACTIONS.filter((item: ROOM_ACTION_TYPE) => {
        return item.action === HANDLE_ROOM_ACTION_ENUM.accept || item.action === HANDLE_ROOM_ACTION_ENUM.reject
      })
    }
    case GET_USER_AND_ROOM_STATUS_ENUM.joined: {
      return ROOM_ACTIONS.filter((item: ROOM_ACTION_TYPE) => {
        return item.action === HANDLE_ROOM_ACTION_ENUM.leave
      })
    }

    default:
      return []
  }
})

// Watch

// OnMounted
</script>

<template>
  <div class="room__item">
    <a-avatar v-if="!room.image" class="room__item__image" shape="square" size="large">
      <template #icon>
        <user-outlined />
      </template>
    </a-avatar>
    <a-image v-else :src="room.image" class="room__item__image" />
    <div class="room__item__info">
      <div class="room__item__info__name">{{ room.name }}</div>
      <div class="room__item__info__description">{{ room.usersInvited.length }} {{ room.usersInvited.length > 1 ? 'members' : 'member' }}</div>
    </div>
    <div class="room__item__actions">
      <confirm-modal
        v-for="item in handleGetActions"
        :key="item.action"
        :description="item.description"
        :title="item.title"
        :type="getTypeConfirm(item.action)"
        @on-confirm="handleSendRequest(item.action)"
      >
        <a-button :type="item.type">
          {{ item.text }}
        </a-button>
      </confirm-modal>
    </div>
  </div>
</template>

<style lang="scss">
.room__item {
  @apply flex items-center gap-4 relative;
  height: 70px;

  &__image {
    @apply w-14 h-14 rounded-full object-cover;
  }

  &__info {
    @apply flex flex-col gap-1;

    &__name {
      @apply font-semibold text-base text-gray-800 truncate;
    }

    &__description {
      @apply text-sm text-gray-500 truncate;
    }
  }

  &__actions {
    @apply absolute right-4 flex flex-col gap-1;

    .ant-btn {
      @apply text-xs w-24 h-8 rounded-md border-0 font-semibold;
    }
  }
}
</style>
