<script lang="ts" setup>
import { createNamespacedHelpers } from 'vuex-composition-helpers'
import { UserOutlined } from '@ant-design/icons-vue'
import { computed, reactive, ref, watch } from 'vue'
import { GET_ROOM_DETAIL_REQUEST, HANDLE_ROOM_ACTION, ROOM, UPDATE_ROOM_DETAIL_REQUEST } from '@constants/types/room'
import { USER_AND_ROOM } from '@constants/types/userAndRoom'
import EditableText from '@components/EditableText.vue'
import UploadPhoto from '@components/UploadPhoto.vue'
import { FILE_DATA } from '@constants/types/file'
import { convertText } from '@helpers/converter'
import AddMemberModal from '@components/modals/AddMemberModal.vue'
import { MODALS_NAME_ENUM } from '@constants/enums/modals'
import { HANDLE_ROOM_ACTION_ENUM } from '@constants/enums/room'
import ConfirmModal from '@components/modals/ConfirmModal.vue'

const { useGetters: messageGetters } = createNamespacedHelpers('message')
const { useGetters: roomGetters, useActions: roomActions } = createNamespacedHelpers('room')
const { useGetters: modalGetters, useActions: modalActions } = createNamespacedHelpers('modal')

const props = defineProps({
  visible: {
    type: Boolean,
    default: false,
    required: true,
  },
})
const emit = defineEmits(['on-close'])

// Getters vuex
const { chatDetail } = messageGetters(['chatDetail'])
const { roomDetail, isCreator, imageMessages, loading } = roomGetters(['roomDetail', 'isCreator', 'imageMessages', 'loading'])
const { addMember } = modalGetters(['addMember'])

// Actions vuex
const { getRoomDetail, updateRoomDetail, handleRoomAction } = roomActions(['getRoomDetail', 'updateRoomDetail', 'handleRoomAction'])
const { openModal, closeModal } = modalActions(['openModal', 'closeModal'])

// Data
const getChatDetailData = computed<ROOM>(() => roomDetail.value)
const roomDataUpdated = reactive({
  name: '',
  image: '',
})
const getData = (data: USER_AND_ROOM): USER_AND_ROOM => {
  return data
}
const collapseKey = ref(['1'])

// Methods
const handleDelete = (id: number) => {
  const params: HANDLE_ROOM_ACTION = {
    action: HANDLE_ROOM_ACTION_ENUM.remove,
    key: roomDetail.value.roomKey,
    usersId: [id],
  }
  handleRoomAction(params).then(() => {
    handleFetchData()
  })
}

const handleClose = () => {
  emit('on-close')
}

const handleSave = () => {
  const { roomKey, image, name } = roomDetail.value
  const params: UPDATE_ROOM_DETAIL_REQUEST = {
    key: roomKey,
    name: roomDataUpdated.name !== name ? roomDataUpdated.name : '',
    image: roomDataUpdated.image !== image ? roomDataUpdated.image : '',
  }
  updateRoomDetail(params).then(() => {
    handleClose()
  })
}

const handleChangeRoomName = (value: string) => {
  roomDataUpdated.name = value
}
const handleChangeRoomImage = (data: FILE_DATA) => {
  roomDataUpdated.image = data.filePath
}
const handleFetchData = () => {
  const { roomKey } = chatDetail.value
  const params: GET_ROOM_DETAIL_REQUEST = {
    key: roomKey,
  }
  getRoomDetail(params).then(() => {
    roomDataUpdated.name = getChatDetailData.value.name
    roomDataUpdated.image = getChatDetailData.value.image
  })
}

const handleCloseModal = (isReload: Boolean = false) => {
  closeModal(MODALS_NAME_ENUM.ADD_MEMBER_MODAL)
  if (isReload) {
    handleFetchData()
  }
}

// Computed
const isSubmitButtonDisabled = computed(() => {
  return (
    roomDataUpdated.name !== '' && roomDataUpdated.name === getChatDetailData.value.name && roomDataUpdated.image === getChatDetailData.value.image
  )
})

// Watch
watch(
  () => props.visible,
  (value) => {
    if (value) {
      handleFetchData()
    }
  }
)
</script>

<template>
  <a-drawer :closable="false" :visible="visible" class="room__management" placement="right" title="Information" @close="handleClose">
    <template v-if="isCreator" #extra>
      <a-space>
        <a-button :disabled="isSubmitButtonDisabled" type="primary" @click="handleSave">Save</a-button>
      </a-space>
    </template>
    <a-spin :spinning="loading">
      <perfect-scrollbar class="room__management__body">
        <div class="room__management__body__header">
          <upload-photo
            :current-image="roomDataUpdated.image"
            :disabled="!isCreator"
            class="room__management__body__header__image"
            @on-change-photo="handleChangeRoomImage"
          />
          <div class="room__management__body__header__info">
            <editable-text
              :disabled="!isCreator"
              :value="roomDataUpdated.name"
              class="room__management__body__header__info__name"
              @update:value="handleChangeRoomName"
            />
            <p class="room__management__body__header__info__status">
              {{ getChatDetailData.usersInvited.length }} {{ getChatDetailData.usersInvited.length > 1 ? 'members' : 'member' }}
            </p>
          </div>
        </div>
        <a-collapse v-model:activeKey="collapseKey" class="room__management__body__content">
          <a-collapse-panel key="1" header="Members">
            <perfect-scrollbar class="members__scrollbar">
              <a-list :data-source="getChatDetailData.usersInvited" item-layout="horizontal">
                <template #renderItem="{ item }">
                  <a-list-item>
                    <a-list-item-meta>
                      <template #title>
                        <a-avatar :size="32" class="room__management__body__content__avatar">
                          <template #icon>
                            <user-outlined v-if="!getData(item).user.profilePicture" />
                            <img v-else :src="getData(item).user.profilePicture" alt="profile picture" />
                          </template>
                        </a-avatar>
                        <span class="room__management__body__content__name">
                          {{ getData(item).user.firstName }} {{ getData(item).user.lastName }}
                        </span>
                        <span v-if="getData(item).isCreator" class="room__management__body__content__is__admin"> (Creator)</span>
                        <span v-else class="room__management__body__content__status"> ({{ convertText(getData(item).status) }})</span>
                        <div class="room__management__body__content__action">
                          <confirm-modal
                            v-if="!getData(item).isCreator && isCreator"
                            description="description"
                            title="Confirm"
                            @on-confirm="handleDelete(getData(item).user.id)"
                          >
                            <a-button class="action__button" type="text">
                              <template #icon>
                                <img alt="trash" src="@assets/icons/trash.svg" />
                              </template>
                            </a-button>
                          </confirm-modal>
                        </div>
                      </template>
                    </a-list-item-meta>
                  </a-list-item>
                </template>
              </a-list>
            </perfect-scrollbar>
            <a-button
              v-if="isCreator"
              class="room__management__body__content__add__member"
              type="text"
              @click="openModal(MODALS_NAME_ENUM.ADD_MEMBER_MODAL)"
            >
              <template #icon>
                <img alt="plus" src="@assets/icons/plus.svg" />
              </template>
              <span class="room__management__body__content__add__member__text">Add member</span>
            </a-button>
          </a-collapse-panel>
          <a-collapse-panel key="image" header="Images">
            <a-image-preview-group class="room__management__body__content__images">
              <a-image
                v-for="message in imageMessages"
                :key="message.id"
                :src="message.file.url"
                class="room__management__body__content__images__image"
              />
            </a-image-preview-group>
          </a-collapse-panel>
          <a-collapse-panel key="3" header="This is panel header 3"> c</a-collapse-panel>
        </a-collapse>
      </perfect-scrollbar>
    </a-spin>
    <add-member-modal @on-close="handleCloseModal" />
  </a-drawer>
</template>

<style lang="scss">
.members__scrollbar {
  max-height: 192px;
}

.room__management {
  .ant-drawer-content-wrapper {
    width: 446px !important;
  }

  &__body {
    &__header {
      @apply flex flex-col items-center space-y-4;

      &__image {
        @apply flex items-center justify-center;

        .ant-upload {
          @apply rounded-full;

          .current-image {
            @apply h-24 w-24 rounded-full object-cover;
          }
        }
      }

      &__info {
        @apply flex flex-col items-center space-y-2;

        &__name {
          @apply text-xl font-semibold mb-0;
        }

        &__status {
          @apply text-gray-500;
        }
      }
    }

    &__content {
      @apply mt-4 border-none bg-white;

      .ant-collapse-item {
        @apply border-none bg-white;

        .ant-collapse-content {
          @apply border-none;
          .ant-list-item-meta-title {
            @apply flex items-center;

            .room__management__body__content__avatar {
              @apply mr-2;
            }

            .room__management__body__content__name {
              @apply font-semibold;
            }

            .room__management__body__content__is__admin {
              @apply text-gray-500 ml-1.5 font-mono;
            }

            .room__management__body__content__status {
              @apply text-gray-500 ml-1.5 font-mono capitalize;
            }

            .room__management__body__content__action {
              @apply ml-auto mr-4;

              .action__button {
                @apply flex items-center justify-center w-5;
              }
            }
          }
        }
      }

      &__add__member {
        @apply flex items-center justify-center w-full mt-4;

        .room__management__body__content__add__member__text {
          @apply ml-2 text-gray-500 font-semibold text-sm;
        }
      }

      &__images {
        @apply flex flex-wrap justify-center items-center;

        &__image {
          @apply w-20 h-20 object-cover rounded-lg;
        }
      }

      .ant-image {
        @apply mr-2;

        .ant-image-mask {
          @apply rounded-lg;
        }
      }
    }
  }
}
</style>
