<script lang="ts" setup>
import { computed, PropType, ref } from 'vue'
import { GET_USER_AND_ROOM_STATUS_ENUM } from '@constants/enums/userAndRoom'
import { createNamespacedHelpers } from 'vuex-composition-helpers'
import RoomItem from '@components/RoomItem.vue'
import { GET_ROOMS_REQUEST, HANDLE_ROOM_ACTION } from '@constants/types/room'

const { useGetters: roomGetters, useActions: roomActions } = createNamespacedHelpers('room')
const { useGetters: sidebarGetters, useActions: sidebarActions } = createNamespacedHelpers('sidebar')

// Define
const props = defineProps({
  status: {
    type: String as PropType<GET_USER_AND_ROOM_STATUS_ENUM>,
    required: true,
    default: GET_USER_AND_ROOM_STATUS_ENUM.owner,
  },
})

// Vuex getters
const { rooms, loading } = roomGetters(['rooms', 'loading'])

// Vuex actions
const { getRooms, handleRoomAction } = roomActions(['getRooms', 'handleRoomAction'])
const { getChatList } = sidebarActions(['getChatList'])

// Setup
const searchValue = ref<string>('')
const debounce = ref<any>(null)
const debounceLoading = ref<boolean>(false)

// Methods
const handleFetchData = (isGetChatList: Boolean = false) => {
  const params: GET_ROOMS_REQUEST = {
    search: searchValue.value,
    status: props.status,
  }
  getRooms(params).then(() => {
    debounceLoading.value = false
  })
  if (isGetChatList) {
    getChatList()
  }
}
const onSearch = (): void => {
  handleFetchData()
}
const debounceSearch = () => {
  clearTimeout(debounce.value)
  debounceLoading.value = true
  debounce.value = setTimeout(() => {
    handleFetchData()
  }, 800)
}
const handleSendRequest = (params: HANDLE_ROOM_ACTION) => {
  handleRoomAction(params).then(() => {
    handleFetchData(true)
  })
}

// Computed
const isEmpty = computed<boolean>(() => {
  return rooms.value.length === 0
})
const isLoading = computed<boolean>(() => {
  return loading.value || debounceLoading.value
})

// Watch

// OnMounted
</script>

<template>
  <div class="room--management__tab">
    <a-input-search v-model:value="searchValue" placeholder="Search" @input="debounceSearch" @search="onSearch" />
    <a-spin :spinning="isLoading">
      <perfect-scrollbar v-if="!isEmpty" class="room--management__tab__list">
        <room-item v-for="item in rooms" :key="item.id" :room="item" :status="status" @update:status="handleSendRequest" />
      </perfect-scrollbar>
      <div v-else class="room--management__tab__empty mt-3">
        <a-result title="No data">
          <template #extra>
            <a-button key="console" type="primary">Go Console</a-button>
          </template>
        </a-result>
      </div>
    </a-spin>
  </div>
</template>

<style lang="scss">
.room--management__tab {
  &__list {
    @apply mt-3;
    height: 460px;
  }

  &__empty {
    @apply flex justify-center items-center;
    height: 460px;
  }
}
</style>
