<script lang="ts" setup>
import { LoadingOutlined, PlusOutlined } from '@ant-design/icons-vue'
import type { UploadChangeParam } from 'ant-design-vue'
import { PropType, ref, watch } from 'vue'
import { FILE_UPLOAD_RESPONSE } from '@constants/types/file'
import { UPLOAD_PHOTO_LIST_TYPE } from '@constants/enums/antdv'
import { isValidUrl } from '@helpers/check-data'

const props = defineProps({
  listType: {
    type: String as PropType<UPLOAD_PHOTO_LIST_TYPE>,
    required: false,
    default: UPLOAD_PHOTO_LIST_TYPE.PICTURE_CARD,
  },
  currentImage: {
    type: String,
    required: false,
    default: '',
  },
  disabled: {
    type: Boolean,
    required: false,
    default: false,
  },
})
const emit = defineEmits(['on-change-photo'])

const fileList = ref([])
const loading = ref<boolean>(false)
const imageUrl = ref<any>(props.currentImage)

const handleChange = (info: UploadChangeParam) => {
  if (info.file.status === 'uploading') {
    loading.value = true
    return
  }
  if (info.file.status === 'done') {
    alterUpload(info.file.response)
  }
}
const alterUpload = ({ data }: FILE_UPLOAD_RESPONSE) => {
  loading.value = false
  imageUrl.value = data.fileUrl
  emit('on-change-photo', data)
}

const getAction = () => {
  return `${import.meta.env.VITE_APP_API_DEV}file/upload`
}

watch(
  () => props.currentImage,
  (value) => {
    // check if value is url
    if (value && isValidUrl(value)) {
      imageUrl.value = value
    }
  }
)
</script>

<template>
  <a-upload
    v-model:file-list="fileList"
    :action="getAction"
    :disabled="disabled"
    :list-type="listType"
    :show-upload-list="false"
    accept="image/png, image/jpeg"
    class="upload-photo"
    name="file"
    @change="handleChange"
  >
    <div v-if="listType === UPLOAD_PHOTO_LIST_TYPE.PICTURE_CARD">
      <img v-if="imageUrl" :src="imageUrl" alt="avatar" class="current-image" />
      <div v-else>
        <loading-outlined v-if="loading" />
        <plus-outlined v-else />
        <div class="ant-upload-text">Image</div>
      </div>
    </div>
    <div v-else class="">
      <a-button class="action">
        <template #icon>
          <loading-outlined v-if="loading" />
          <img v-else alt="image icon" class="icon" src="@assets/icons/file-image.svg" />
        </template>
      </a-button>
    </div>
  </a-upload>
</template>

<style lang="scss">
.upload-photo {
  .action {
    @apply flex items-center justify-center;
    .icon {
      @apply w-6 h-6;
    }
  }
}
</style>
