<script lang="ts" setup>
import { computed, ref } from 'vue'
import { FILE_UPLOAD_RESPONSE } from '@constants/types/file'

// Define
const emit = defineEmits(['on-change-file'])

// Setup
const loading = ref<boolean>(false)

// Methods
const handleChange = (info: any) => {
  if (info.file.status === 'uploading') {
    loading.value = true
    return
  }
  if (info.file.status === 'done') {
    alterUpload(info.file.response)
  }
}
const alterUpload = ({ data }: FILE_UPLOAD_RESPONSE) => {
  loading.value = false
  emit('on-change-file', data)
}

// Computed
const getAction = computed<string>(() => {
  return `${import.meta.env.VITE_APP_API_DEV}file/upload`
})

// Watch

// OnMounted
</script>

<template>
  <a-upload :action="getAction" :showUploadList="false" class="upload__file" name="file" @change="handleChange">
    <a-button class="action">
      <template #icon>
        <img alt="file icon" class="icon" src="@assets/icons/file-document.svg" />
      </template>
    </a-button>
  </a-upload>
</template>

<style lang="scss">
.upload__file {
  .action {
    @apply flex items-center justify-center;

    .icon {
      @apply w-6 h-6;
    }
  }
}
</style>
