<script lang="ts" setup>
import { computed } from 'vue'
import { EllipsisOutlined, UserOutlined } from '@ant-design/icons-vue'
import { createNamespacedHelpers } from 'vuex-composition-helpers'

const { useGetters } = createNamespacedHelpers('message')
const { chatDetail } = useGetters(['chatDetail'])

const getUserData = computed(() => {
  const { firstName, lastName, profilePicture } = chatDetail.value
  const fullName = `${firstName} ${lastName}`
  return { fullName, profilePicture }
})

const handleClick = (key: string) => {
  console.log(key)
}
</script>

<template>
  <div class="header">
    <div class="header__left">
      <a-avatar class="header__left__image" size="large">
        <template #icon>
          <user-outlined v-if="!getUserData.profilePicture" />
          <img v-else :src="getUserData.profilePicture" alt="profile picture" />
        </template>
      </a-avatar>
      <div class="header__left__info">
        <h3 class="header__left__info__name">{{ getUserData.fullName }}</h3>
        <p class="header__left__info__status">Active now</p>
      </div>
    </div>
    <div class="header__right">
      <a-button class="header__right__icon" type="text" @click="handleClick('open-detail')">
        <template #icon>
          <ellipsis-outlined />
        </template>
      </a-button>
    </div>
  </div>
</template>

<style lang="scss">
.header {
  @apply flex justify-between items-center px-4 py-2 bg-white border-b border-gray-200;

  &__left {
    @apply flex items-center space-x-4 cursor-pointer;

    &__image {
      @apply flex items-center justify-center;
    }

    &__info {
      @apply ml-4;

      &__name {
        @apply text-lg font-semibold mb-0;
      }

      &__status {
        @apply text-sm text-gray-500 mb-0;
      }
    }
  }

  &__right {
    @apply flex items-center space-x-4;

    &__icon {
      @apply ml-4 text-lg text-gray-500 cursor-pointer hover:text-gray-700;
    }
  }
}
</style>
