<script lang="ts" setup>
import { PropType } from 'vue'
import { RELATIONSHIP_ACTION, USER_RELATIONSHIP_STATUS } from '@constants/enums/relationship'
import { USER } from '@constants/types/user'
import { UserOutlined } from '@ant-design/icons-vue'
import { ACTION_TYPE, SEND_RELATIONSHIP_REQUEST } from '@constants/types/relationship'
import { createNamespacedHelpers } from 'vuex-composition-helpers'

const { useGetters, useActions } = createNamespacedHelpers('user')
const { sendRelationshipRequest } = useActions(['sendRelationshipRequest'])

const props = defineProps({
  relationshipStatus: {
    type: String as PropType<USER_RELATIONSHIP_STATUS>,
    required: true,
    default: USER_RELATIONSHIP_STATUS.friend,
  },
  data: {
    type: Object as PropType<USER>,
    required: true,
    default: {},
  },
})

const emit = defineEmits(['update:relationshipStatus'])

const getActions = (): Array<ACTION_TYPE> => {
  switch (props.relationshipStatus) {
    case USER_RELATIONSHIP_STATUS.friend:
      return [
        {
          text: 'Unfriend',
          type: 'danger',
          action: RELATIONSHIP_ACTION.unfriend,
        },
      ]
    case USER_RELATIONSHIP_STATUS.none:
      return [
        {
          text: 'Add Friend',
          type: 'primary',
          action: RELATIONSHIP_ACTION.add_friend,
        },
      ]
    case USER_RELATIONSHIP_STATUS.sent_request:
      return [
        {
          text: 'Cancel',
          type: 'danger',
          action: RELATIONSHIP_ACTION.cancel_request,
        },
      ]
    case USER_RELATIONSHIP_STATUS.received_request:
      return [
        {
          text: 'Accept',
          type: 'primary',
          action: RELATIONSHIP_ACTION.accept_request,
        },
        {
          text: 'Decline',
          type: 'danger',
          action: RELATIONSHIP_ACTION.reject_request,
        },
      ]
    default:
      return [
        {
          text: 'Unfriend',
          type: 'danger',
          action: RELATIONSHIP_ACTION.unfriend,
        },
      ]
  }
}

const handleSendRequest = (action: RELATIONSHIP_ACTION) => {
  const data: SEND_RELATIONSHIP_REQUEST = {
    userId: props.data.id,
    type: action,
  }
  sendRelationshipRequest(data).then(() => {
    emit('update:relationshipStatus')
  })
}
</script>

<template>
  <div class="user-item">
    <a-avatar v-if="!data.profilePicture" class="avatar" shape="square" size="large">
      <template #icon>
        <user-outlined />
      </template>
    </a-avatar>
    <a-image v-else class="avatar" :src="data.profilePicture" />
    <div class="user-info">
      <div class="name">{{ data.firstName + ' ' + data.lastName }}</div>
      <div>{{ data.email }}</div>
    </div>
    <div class="actions">
      <a-button v-for="action in getActions()" :type="action.type" @click="handleSendRequest(action.action)">
        {{ action.text }}
      </a-button>
    </div>
  </div>
</template>

<style lang="scss">
.user-item {
  @apply flex items-center gap-4 relative px-4;
  height: 80px;

  .avatar {
    @apply w-14 h-14 rounded-md;
  }

  .user-info {
    @apply flex flex-col gap-1;

    .name {
      @apply font-semibold text-base text-gray-800 truncate;
    }
  }

  .actions {
    @apply absolute right-4 flex flex-col gap-1;

    .ant-btn {
      @apply text-xs w-24 h-8 rounded-md border-0 font-semibold;
    }
  }
}
</style>
