<script lang="ts" setup>
import { PropType } from 'vue'
import { USER } from '@constants/types/user'

// Define
defineProps({
  user: {
    type: Object as PropType<USER>,
    required: true,
  },
})
const emit = defineEmits(['on-deselect'])
// Methods
const handleDeSelect = (user: USER) => {
  emit('on-deselect', user)
}
</script>

<template>
  <div class="user--selected" @click="handleDeSelect(user)">
    <div class="user--selected__avatar">
      <img :alt="user.lastName" :src="user.profilePicture" />
    </div>
    <div class="user--selected__info">{{ user.lastName }}</div>
  </div>
</template>

<style lang="scss">
.user--selected {
  @apply flex items-center flex-col relative cursor-pointer;

  &__avatar {
    @apply w-10 h-10;

    img {
      @apply rounded-full object-cover w-full h-full;
    }
  }

  &__info {
    @apply text-sm font-medium text-gray-700;
  }
}
</style>
