<script lang="ts" setup>
import { USER } from '@constants/types/user'
import { PropType } from 'vue'

// Define
defineProps({
  user: {
    type: Object as PropType<USER>,
    required: true,
  },
})
const emit = defineEmits(['on-select'])

// Methods
const handleSelect = (user: USER) => {
  emit('on-select', user)
}
</script>

<template>
  <div class="user--invite" @click="handleSelect(user)">
    <div class="user--invite__avatar">
      <img :alt="user.lastName" :src="user.profilePicture" class="user--invite__avatar__image" />
    </div>
    <div class="user--invite__info">{{ user.firstName }} {{ user.lastName }}</div>
  </div>
</template>

<style lang="scss">
.user--invite {
  @apply flex items-center cursor-pointer;

  &__avatar {
    @apply mr-2 w-10 h-10;

    &__image {
      @apply rounded-full object-cover w-full h-full;
    }
  }

  &__info {
    @apply text-sm font-medium text-gray-700;
  }
}
</style>
