// Antd Input Search Style
.ant-input-search {
  .ant-input-group {
    .ant-input {
      @apply rounded-l-lg px-4 py-2;
    }

    .ant-input-group-addon {
      @apply rounded-r-lg;

      .ant-input-search-button {
        @apply rounded-r-lg py-2 h-[40px] w-[50px];
        border-top-right-radius: 6px !important;
        border-bottom-right-radius: 6px !important;

        svg {
          @apply text-gray-500;
        }
      }
    }

  }
}

// Antd Modal Style
.ant-modal {
  @apply rounded-lg;

  .ant-modal-content {
    @apply rounded-lg;

    .ant-modal-header {
      @apply rounded-t-lg border-0;

      .ant-modal-title {
        @apply text-xl text-gray-500 font-semibold;
      }
    }
  }
}

// Antd Drawer Style
.ant-drawer {
  .ant-drawer-content-wrapper {
    .ant-drawer-content {
      .ant-drawer-header {
        @apply rounded-t-lg border-0;

        .ant-drawer-title {
          @apply text-xl text-gray-500 font-semibold;
        }

        .ant-drawer-extra {
          .ant-btn {
            @apply rounded-lg w-20 h-8 font-semibold text-sm;
          }
        }
      }
    }
  }
}

// Antd Popover Style
.ant-popover {
  .ant-popover-inner {
    @apply rounded-lg;

    .ant-popover-title {
      @apply text-lg text-gray-500 font-semibold border-b-0 px-4 py-2;
    }

    .ant-popover-inner-content {
      @apply px-4 py-2;
    }
  }
}

// Antd Tooltip Style
.ant-tooltip {
  .ant-tooltip-inner {
    @apply rounded-md;

    .ant-tooltip-arrow {
      @apply rounded-md;
    }
  }
}

.ant-notification-notice {
  border-radius: 48px;
  padding: 16px 16px;

  .ant-notification-notice-content {
    @apply flex items-center;

    .ant-notification-notice-with-icon {
      @apply flex items-center;

      .ant-notification-notice-message {
        @apply mb-0 font-semibold;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
      }
    }

    .ant-notification-notice-icon {
      @apply flex justify-center items-center;

    }
  }


  &.toast-success {
    .ant-notification-notice-message {
      @apply text-green-600
    }

    .ant-notification-notice-icon {
      svg {
        @apply text-green-600
      }
    }
  }

  &.toast-error {
    .ant-notification-notice-message {
      @apply text-red-600
    }

    .ant-notification-notice-icon {
      svg {
        @apply text-red-600
      }
    }
  }
}

.ant-image-preview-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-image-preview-img-wrapper img {
  width: 840px;
}
