<script setup lang="ts">
import { computed } from 'vue'
import { useRouter } from 'vue-router'
import { LAYOUTS_ENUM, THEMES_ENUM } from '@constants/enums/layout'
import { LAYOUTS } from '@constants/layout'

const router = useRouter()
const currentLayout = computed<LAYOUTS_ENUM>(() => {
  const routerLayout = router.currentRoute.value.meta.layout
  if (routerLayout && routerLayout === LAYOUTS_ENUM.horizontal) {
    return routerLayout
  }
  return LAYOUTS_ENUM.full
})
const currentTheme = computed<THEMES_ENUM>(() => {
  const routerTheme = router.currentRoute.value.meta.theme
  if (routerTheme && routerTheme === THEMES_ENUM.dark) {
    return routerTheme
  }
  return THEMES_ENUM.light
})
</script>

<template>
  <perfect-scrollbar class="layout-container">
    <component :is="LAYOUTS[currentLayout]" :theme="currentTheme">
      <router-view />
    </component>
  </perfect-scrollbar>
</template>

<style lang="scss">
.layout-container {
  @apply h-screen;
}
</style>
