<script lang="ts" setup>
import FooterComponent from '@components/layouts/FooterComponent.vue'
import { THEMES_ENUM } from '@constants/enums/layout'

defineProps<{
  theme: THEMES_ENUM
}>()
</script>

<template>
  <div class="layout-full" :class="theme">
    <router-view />
  </div>
  <footer-component />
</template>

<style lang="scss">
.layout-full {
  @apply min-h-screen flex flex-col justify-center items-center;

  &.light {
    @apply bg-white;
  }

  &.dark {
    @apply bg-gray-900 text-white;
  }
}
</style>
