<script lang="ts" setup>
import { onBeforeMount, onDeactivated, ref } from 'vue'

const size = ref(window.innerWidth > 1200 ? 'large' : 'small')
const setSizes = () => {
  size.value = window.innerWidth > 1200 ? 'large' : 'small'
}

onBeforeMount(() => {
  window.addEventListener('resize', setSizes)
})
onDeactivated(() => {
  window.removeEventListener('resize', setSizes)
})
</script>

<template>
  <div class="layout-horizontal">
    <router-view name="sidebar" :class="size" />
    <div class="layout-horizontal__content z-10" :class="size">
      <router-view name="header" :size="size" />
      <router-view />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.layout-horizontal {
  @apply h-screen;
  .layout-horizontal__content {
    @apply fixed h-full top-0;
    transition: margin-left 0.3s ease-in-out;

    &.large {
      width: calc(100% - 360px);
      margin-left: 360px;
    }

    &.small {
      width: calc(100% - 80px);
      margin-left: 80px;
    }
  }
}
</style>
